/* Copyright 2016, Nudge, All rights reserved. */

/*Facebook and LinkedIn notification busters*/

.jewelCount {
  display: none;
}

/* Latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('chrome-extension://dmhgdnbkjkejeddddlklojinngaideac/resources/fonts/opensans.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#off {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  top: 60px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #ffffff;
  padding-top: 25px;
}

#container {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 155px;
  background-color: #ffffff;
  text-align: center;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 4px;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

#nudge_ad {
  top: 20px;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: beige;
  height: initial;
}

#close {
  position: absolute;
  pointer-events: auto;
  cursor: pointer;
  z-index: 1;
  opacity: 0.5;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;  
  background: url('chrome-extension://dmhgdnbkjkejeddddlklojinngaideac/resources/images/closegrey.svg') 7px/15px no-repeat;
}

#close:hover {
  opacity: 1;
}

#logo {
  position: absolute;
  z-index: 1;
  top: 20px;
  overflow: visible;
  width: 100%;
  height: 48px;
  background: url('chrome-extension://dmhgdnbkjkejeddddlklojinngaideac/resources/images/logo-color.svg') center/48px no-repeat;
}

._2n_9 {
  background-image: url('chrome-extension://__MSG_@@extension_id__/resources/images/stabilisefb.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0 -263px;
  opacity: .6;
}