include ../../../bemto/bemto.pug
- 
  set_bemto_settings({
    prefix: {
      '': 'nudge-',
      'js-': true,
    }
  })

//- This is set to display: none by default to avoid awkward loading behaviour

+b.container.control_position.control_flex_direction.control_font_size(style="display:none")
  +b.top
    +b.edge#js-edge
    +b.corner
      +b.menu_circle.menu_close#js-close-tab
        +b.menu_item
          +b.SPAN#js-off-by-default Close all 
          +b.SPAN.js-domain similar
          |  tabs
      +b.menu.menu_position
        +b.menu_circle.menu_hide#js-hide
          +b.menu_item Hide Nudge
        +b.menu_circle.menu_settings#js-settings
          +b.menu_item Settings
        +b.menu_circle.menu_time
          //- +b.visits_value#js-visits 5 visits
          +b.minutes_value#js-time 21m05s
          +b.menu_item 
            | Your 
            +b.SPAN.js-domain
            |  usage today
    +b.quarters
      - var n = 1;
      while n <= 20
        +b.quarter(id=`nudge-quarter-${n}`)
          +b.quarter-label(id=`nudge-quarter-label-${n}`) #{5 * n++}m