div.circle-container
  div.circle-content
    div.circle-dropdown
      div.circle-dropdown-content(style="display:none")
        div.circle-logo
        //- div.circle-text Nudge hides this section by default
        div.circle-show-once Show once
        div.circle-show-always Show always
        a.circle-share(href="https://medium.com/@louisbarclay/mark-zuckerbergs-head-on-a-fish-91dd6ba78967" target="_blank") 🐟