div.circle-container
  div.circle-content
    div.circle-dropdown
      div.circle-dropdown-content(style="display:none")
        div.circle-logo
        div.circle-show-once Show once
        div.circle-show-always Show always
  .circle-button-container
    a.circle-button(target="_blank") Become Co-CEO of Nudge
    //- Set the href of this using code