include ../../../../node_modules/bemto.pug/bemto.pug
- 
  set_bemto_settings({
    prefix: {
      '': 'hider-menu-',
    }
  })

+b.container
  +b.content
    +b.dropdown
      +b.dropdown-content(style="display:none")
        +b.logo
        +b.link#bb-show-once Show once
        +b.link#bb-show-always Show always