div.circle-container
  div.circle-content
    div.circle-dropdown
      div.circle-dropdown-content
        div.circle-logo
        //- div.circle-text Nudge hides this section by default
        div.circle-reset Reset Settings