div.facebook-close
div.facebook-logo-corner
div.facebook-container
  h2 This will unfollow all your friends
  button.facebook-button I'm OK with that
  p
  | Doing this now 
  a.facebook-link Don't show this again