div.facebook-close
div.facebook-container#nudge-dialog
  div.facebook-logo-large
  button.facebook-button-blue.facebook-button-large Delete your News Feed
  div.facebook-bottom-text
    a(href='http://extranewsfeed.com/11-reasons-to-delete-your-news-feed-400427b9315e', target='_blank') Why?
    |  &bull; 
    a.fb_show_unfollow Don't show again