div.facebook-close
div.facebook-container
  div.facebook-logo
  div.facebook-headline Get rid of your News Feed with Nudge
  button.facebook-button Yeah, sure!
  div.facebook-bottom-text
    a(href='http://extranewsfeed.com/11-reasons-to-delete-your-news-feed-400427b9315e', target='_blank').facebook-link Wait, why?
    |  &bull; 
    a.facebook-link No thanks, hide this