div.facebook-close
div.facebook-container#nudge-dialog
  div.facebook-logo-large
  //- div.facebook-small-headline Save a friend from Facebook &mdash; get them to download Nudge at
  div.facebook-headline zuckerbergsnightmare.com
  div.facebook-bottom-text
    a Delete your News Feed 
    | (
    a(href='http://extranewsfeed.com/11-reasons-to-delete-your-news-feed-400427b9315e', target='_blank') why?
    | ) &bull; 
    a#fb_show_unfollow Don't show again