div.facebook-logo
div.facebook-text Loading your Facebook friends, pages and groups to unfollow them
button.facebook-button-blue Stop unfollowing
div.facebook-bottom-text
  span.facebook-specific-progress Working...