div.facebook-logo
div.facebook-text Please share Nudge on Facebook &mdash; it'll probably be ironic
div.facebook-button-blue(
  target='_blank') Share Nudge
div.facebook-bottom-text
  a#fb_auto_unfollow Auto-unfollow new profiles
  |  &bull; 
  a#link_to_more News Feed still not empty, or want to refollow?