.header
  min-height: 50px
  border-bottom: $border-primary
  border-color: $nudge-grey-lightest
  justify-content: space-between
  padding: 1em 0
  align-items: center
  .back
    margin-left: $spacing

.vertical
  display: flex
  flex-direction: column

.horizontal
  display: flex
  flex-direction: row

.centered
  justify-content: center

.spacing
  margin-bottom: $spacing * 2 !important

.spacing-small
  margin-bottom: $spacing /2 !important

.stretch
  align-items: initial

.full-width
  width: 100%

.contents
  align-items: flex-start
  display: flex
  flex-direction: column
  width: $page-width
  margin-left: auto
  margin-right: auto
  height: auto