.off-background
  background-size: cover
  height: auto
  background-color: $nudge-grey-lightest

.off-typography
  *
    color: darken($nudge-grey-off,10%)

.off-logo
  margin-top: 20%
  +size($width: 8em)
  &::before
    +pseudo
    +logo-grey($size: 8em)
    opacity: 1

.off-text
  margin-top: 1em
  color: darken($nudge-grey-off, 5%)

.off-headline
  font-size: 22px

.off-module
  margin-top: 1em
  +padding
  flex-direction: column
  >*
    margin-bottom: 1em

.off-small-text
  font-size: 12px
  color: $nudge-grey-light

.off-row
  display: flex
  justify-content: space-between
  height: auto
  width: 100%
  flex-wrap: wrap

  >div
    +border($style: none)
    background: $light
    +padding
    width: auto
    height: 40px

.off-highlight
  background: darken($nudge-grey-off, 3%)
  color: $nudge-grey-lightest
  +border($style: none)
  padding: 0em .3em .1em .3em
  margin-left: 0.3em
  margin-right: 0.3em

.off-para 
  margin: 0
  font-size: 0.8em
  line-height: 1.8em

.off-container
  +container($min-width: 450px)

.off-underline
  color: darken($nudge-grey-off, 5%)
  cursor: pointer
  transition: all 0.2s
  &:hover
    color: darken($nudge-grey-off, 10%)