@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap')
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')

p
  font-family: 'Open Sans', sans-serif
  
h1, h2, h3
  font-family: 'Roboto', sans-serif
  font-weight: 500
  
input
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none
  font-family: 'Open Sans', sans-serif
  padding: 0
  font-size: 14px
  
button
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none
  background: #61a7ff
  margin: 0
  outline: none
  width: 100%
  box-shadow: none
  color: white
  border: none
  border-radius: 4px
  padding: (2 / 6) * 1em (5 / 6) * 1em (2 / 6) * 1em (5 / 6) * 1em
  margin: 0 0 20px

#mc-embedded-subscribe
  background: #ededed
  cursor: pointer
  margin: 0
  outline: none
  box-shadow: none
  color: #6d6d6d
  border: none
  border-radius: 4px
  padding: (2 / 6) * 1em (5 / 6) * 1em (2 / 6) * 1em (5 / 6) * 1em

#mc-embedded-subscribe:hover 
  box-shadow: none
  color: #6d6d6d
  border: none
  border-color: transparent
  background: darken(#ededed, 5%)
  box-shadow: none

.logo
  width: 15%
  margin: 0 0 20px

#mce-EMAIL
  caret-color: #ff61a7
  border: none
  border-bottom: solid
  border-bottom-color: #bdbdbd
  border-bottom-width: 1px
  outline: none
  width: 100%
  list-style: none
  border-radius: 0
  margin: 0
  padding-bottom: 0.4em
  padding-top: 0.2em

.mc-field-group
  width: 100%
  margin-right: 10px
  
#mce-EMAIL::placeholder
  color: #bdbdbd

#mce-EMAIL:focus
  border-bottom: solid
  border-bottom-color: #ff61a7
  border-bottom-width: 1px
  color: #ff61a7
  &::placeholder
    color: lighten(#ff61a7, 10%)

#mc_embed_signup_scroll
  display: flex
  margin: 0 0 20px
