html
  head
    title
    link(rel="stylesheet", href="../css/pages/facebook.css")
  body
    div.facebook-playground-container
      div#pagelet_composer
        include facebook/intro
    div.facebook-playground-container
      div#pagelet_composer
        include facebook/confirm
    div.facebook-playground-container
      div#pagelet_composer
        include facebook/run
    div.facebook-playground-container
      div#pagelet_composer
        include facebook/share
    div.facebook-playground-container
      div#pagelet_composer
        include facebook/more