include facebook/close
include facebook/intro

html
  head
    title
    link(rel="stylesheet", href="../css/pages/facebook.css")
  body
    div.pagelet-container
      div#pagelet_composer
        +close
        +intro