html
  head
    title
    link(rel="stylesheet", href="../css/main.css")
  body
    div.nudge-wrapper
      p so basically, the glowing starts at blue. at 5min. but by the time you get to more, the glowing has coloured redder
      div border animation
      div.nudge-tl-container
        div.nudge-main 19m47s
        div.nudge-menu.nudge-top Switch off this site
        div.nudge-menu Pause Nudge
        div.nudge-menu Go to settings
        div.nudge-menu Don't Nudge this site
      div.scroll 5 yards
      div.nudge-m-container
        div.nudge-main Just quit!
      div.nudge-b-container
        div.nudge-banner Hey hey hey compulsive
  div ruler, slides in from left. stays for a while
    ul.nudge-scale
      each val in ['1cm','2cm','3cm','4cm','5cm']
        li= val