html
  head
    title Options
    link(rel="stylesheet", href="../css/main.css")
  body
    div.options-container
      div
        div.options-header
          div.options-logo
      div#welcome
      span.options-sub-header Sites Nudge works on
      div
        ul.text-input
          li
            input#addDomain(type='text' placeholder='Add a site here, or remove a site by clicking on it below') 
      div
        span.options-guidance-text  (In format 
          span.options-guidance-text-highlight site.com
          | , 
          span.options-guidance-text-highlight  partof.site.com
          |  or 
          span.options-guidance-text-highlight site.com/page
          | )
      ul.tags#domainList
      span.options-sub-header Stuff Nudge does
      mixin optionBoolean(name, divId)
        div.boolean(id=divId)
          div=name
          button.toggle
            div.left.on Yes
            div.right No
      +optionBoolean("Nudges you every 15 minutes on a site", 'time_nudge')
      +optionBoolean("Nudges you when you go back to a site you've just been on", 'compulsive_nudge')
      //- +optionBoolean('Stops some tab titles from showing (1) or flashing icons', 'constantise')
      +optionBoolean('Hides some sections of sites by default', 'div_hider')
      +optionBoolean('Gets rid of top-right Facebook notifications', 'fb_hide_notifications')
      +optionBoolean('Makes the Facebook top bar grey', 'fb_grey')
      +optionBoolean('Auto-unfollows new Facebook friends, pages and groups', 'fb_auto_unfollow')
      +optionBoolean('Shows Facebook unfollow dialog', 'fb_show_unfollow')
      +optionBoolean('Shows an off switch on Nudge sites', 'show_switch')
      +optionBoolean('Shares anonymised data to help make Nudge better', 'share_data')
      span.options-sub-header Your Nudge ID
      p Here is your Nudge ID:
      div.id-banner
        div.id-text#id
      p.options-lastpara You might need it if you participate in a study using Nudge.
  script(src="../resources/js/jquery/jquery-1.6.2.js")
  script(src="../resources/js/jquery-suggest/jquery-suggest.js")
  script(src="../config.js")
  script(src="../resources/js/background/storage.js")
  script(src="../resources/js/helpers.js")
  script(src="../resources/js/vars/vars.js")
  script(src="../js/options.js")