html
  head
    title Options
    link(rel="stylesheet", href="../css/main.css")
  body
    div.options-container
      div
        div.options-header
          div.options-logo
      div#welcome
      span.options-sub-header Your Nudge sites
      div
        ul.text-input
          li
            input#addDomain(type='text' placeholder='Add a site here, or remove a site by clicking on it below') 
      div
        span.options-guidance-text  (In the format website.com, section.website.com or website.com/page.)
      ul.tags#domainList
      span.options-sub-header Other options
      mixin optionBoolean(name, divId)
        div.boolean(id=divId)
          div=name
          button.toggle
            div.left.on Yes
            div.right No
      +optionBoolean('Get rid of Facebook notifications', 'facebookNotif')
      +optionBoolean('Take notification numbers out of page titles', 'constantise')
      +optionBoolean('Auto-unfollow new friends, pages and groups', 'fb_auto_unfollow')
      +optionBoolean('Show Facebook unfollow', 'fb_show_unfollow')
      span.options-sub-header Nudge ID
      p Your Nudge ID is
      div.id-banner
        div.id-text#id
      p Pretty catchy, right? Keep it safe if you are participating in a Nudge study.
  script(src="../config.js")
  script(src="../resources/js/background/storage.js")
  script(src="../resources/js/helpers.js")
  script(src="../resources/js/vars/vars.js")
  script(src="../js/options.js")