html
  head
    title
    link(rel="stylesheet", href="../css/pages/popup.css")
  body.popup-body
    div.popup-container
      div
        h1
        span.thing 15 minutes 13 seconds
        | today on 
        span.domain facebook.com
      div
        button.popup-button Don't Nudge this site
      div
        a(href="#")#options Choose Nudge domains, and other settings
      div
        p more options
      div
        p snooze nudge for this site for 60 mins
      div
        p pause nudge
    script(src="../resources/js/helpers.js")    
    script(src="../js/popup.js")