html
  head
    title
    link(rel="stylesheet", href="../css/main.css")
  body.popup-body
    div.popup-container
      div
        h1 20 minutes today on
        h2 on 
        b facebook.com
      div
        button Don't Nudge this site
      div
        a.smallLink(href="#")#options Choose Nudge domains, and other settings
      div
        p more options
      div
        p snooze nudge for this site for 60 mins
      div
        p pause nudge
    script(src="../js/popup.js")