html
  head
    title
    link(rel="stylesheet", href="../css/nudges.css")
  body
    div#buttons
      button.one Hey
      button.two What's
      button.three Up
    div#nudge
      include nudges/banner
  script(src="../js/nudges.js")