div.data-banner
  h1 Welcome to Nudge
  div.data-text
    p Hey! My name's Lou and I make Nudge &mdash; hope you like it. You can change what Nudge does, on which sites, below.
    p Important: Nudge tracks anonymised data, which I need to make it work better. I can't see any specific URLs or content that you look at, any of your activity other than on Nudge sites, or anything that identifies you to me. But I can see time spent on Nudge sites, and usage of Nudge features.
    div.boolean(id='share_data2')
      div
      button.toggle
        div.left.on That's OK with me
        div.right I'd prefer not to share anonymised data
    p Two more things. First, the only way I can keep working on Nudge is if more people use it. So if you like Nudge, please share it (
      a(href="http://nudgeware.io" target='_blank') nudgeware.io
      | ). Second, I need your feedback to make Nudge better, so email me on 
      a(href="mailto:lou@nudgeware.io?Subject=Nudge%20feedback" target='_blank') lou@nudgeware.io
      |  with any thoughts.
    p Cheers, Lou