@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("chrome-extension://__MSG_@@extension_id__/fonts/OpenSans.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }
@keyframes background-move {
  0% {
    background-position: 17% 0%; }
  50% {
    background-position: 84% 100%; }
  100% {
    background-position: 17% 0%; } }
.circle-container * {
  border: 0 !important;
  bottom: initial !important;
  box-sizing: content-box !important;
  font: inherit !important;
  font-size: 100% !important;
  font-family: inherit !important;
  left: initial !important;
  margin: 0 !important;
  padding: 0 !important;
  position: initial !important;
  right: initial !important;
  top: initial !important;
  vertical-align: baseline !important;
  display: initial !important; }
  .circle-container * ::before, .circle-container * ::after {
    border: 0 !important;
    bottom: initial !important;
    box-sizing: content-box !important;
    font: inherit !important;
    font-size: 100% !important;
    font-family: inherit !important;
    left: initial !important;
    margin: 0 !important;
    padding: 0 !important;
    position: initial !important;
    right: initial !important;
    top: initial !important;
    vertical-align: baseline !important;
    display: initial !important; }

.circle-container * {
  font-family: "Open Sans" !important;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  line-height: normal !important; }
.circle-container a {
  text-decoration: none !important;
  color: initial !important; }
  .circle-container a:hover {
    color: #ff61a7 !important; }

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 0 0 #61a7ff; }
  70% {
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
@keyframes pulse-shadow--collection {
  0% {
    box-shadow: 0 0; }
  70% {
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
@keyframes pulse-shadow--onboarding {
  0% {
    box-shadow: 0 0 0 0 #61a7ff; }
  30% {
    box-shadow: 0 0 0 0 #61a7ff; }
  80% {
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.circle-container {
  width: 100% !important;
  position: static !important;
  text-align: center !important;
  top: 0 !important;
  display: flex !important;
  font-family: initial !important; }

.circle-dropdown {
  margin: 0 !important;
  overflow: visible !important;
  top: 0 !important;
  width: 100% !important;
  height: 100px !important;
  z-index: 3 !important;
  border: 1px none #bdbdbd !important;
  border-radius: 4px !important;
  opacity: 1 !important;
  visibility: visible !important;
  font-size: 12px !important; }

.circle-dropdown-content {
  display: flex !important;
  border: 1px none #bdbdbd !important;
  border-radius: 4px !important;
  width: 90px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  opacity: 0 !important;
  background: #ffffff !important;
  height: 80px !important;
  overflow: visible !important;
  transition: opacity 0.3s !important;
  padding-bottom: 1em !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: space-between !important; }
  .circle-dropdown-content > div {
    margin-right: 0.5em !important;
    margin-left: 0.5em !important; }

.circle-content {
  visibility: visible !important;
  transition: all 1s !important;
  z-index: 18 !important;
  top: 0 !important;
  margin: 0 !important;
  opacity: 1 !important;
  pointer-events: auto !important;
  width: 100% !important;
  height: 80px !important;
  transition: top 0.3s !important;
  background: url("chrome-extension://__MSG_@@extension_id__/img/icon/newcirclewhite.svg") center 0px/40px no-repeat !important; }
  .circle-content:hover {
    top: 5px !important; }
    .circle-content:hover .circle-dropdown-content {
      opacity: 1 !important; }

.circle-text {
  color: #6d6d6d !important;
  font-size: 13px !important;
  line-height: 1.3em !important;
  margin-top: 1em !important;
  margin-bottom: 0.2em !important; }

.circle-show-once {
  cursor: pointer !important;
  color: #bdbdbd !important; }
  .circle-show-once:hover {
    color: #ff61a7 !important; }

.circle-show-always {
  cursor: pointer !important;
  color: #bdbdbd !important; }
  .circle-show-always:hover {
    color: #ff61a7 !important; }

.circle-logo {
  margin-top: 0 !important;
  width: 40px !important;
  height: 40px !important;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/icon/newcirclewhite.svg") !important;
  background-size: 40px !important; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uL3NyYy9jc3MvaW5qZWN0ZWQvY2lyY2xlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLHlCQUF5QjtFQUN6QixtQkFBbUI7RUFDbkIsaUJBQWlCO0VBQ2pCLGtKQUFrSjtFQUNsSiwwSUFBMEksRUFBRTtBQUM5STtFQUNFO0lBQ0UsNEJBQTRCLEVBQUU7RUFDaEM7SUFDRSw4QkFBOEIsRUFBRTtFQUNsQztJQUNFLDRCQUE0QixFQUFFLEVBQUU7QUFDcEM7RUFDRSxxQkFBVTtFQUNWLDJCQUFnQjtFQUNoQixtQ0FBd0I7RUFDeEIseUJBQWM7RUFDZCwyQkFBZ0I7RUFDaEIsZ0NBQXFCO0VBQ3JCLHlCQUFjO0VBQ2QscUJBQVU7RUFDVixzQkFBVztFQUNYLDZCQUFrQjtFQUNsQiwwQkFBZTtFQUNmLHdCQUFhO0VBQ2Isb0NBQXlCO0VBQ3pCLDRCQUFpQixFQUFFO0VBQ25CO0lBQ0UscUJBQVU7SUFDViwyQkFBZ0I7SUFDaEIsbUNBQXdCO0lBQ3hCLHlCQUFjO0lBQ2QsMkJBQWdCO0lBQ2hCLGdDQUFxQjtJQUNyQix5QkFBYztJQUNkLHFCQUFVO0lBQ1Ysc0JBQVc7SUFDWCw2QkFBa0I7SUFDbEIsMEJBQWU7SUFDZix3QkFBYTtJQUNiLG9DQUF5QjtJQUN6Qiw0QkFBaUIsRUFBRTs7QUFFdkI7RUFDRSxvQ0FBeUI7RUFDekIsK0NBQW9DO0VBQ3BDLDhDQUFtQztFQUNuQywrQkFBb0IsRUFBRTtBQUN4QjtFQUNFLGlDQUFzQjtFQUN0QiwwQkFBZSxFQUFFO0VBQ2pCO0lBQ0UsMEJBQWUsRUFBRTs7QUFFckI7RUFDRTtJQUNFLDRCQUE0QixFQUFFO0VBQ2hDO0lBQ0UsZ0RBQWdELEVBQUU7RUFDcEQ7SUFDRSwyQ0FBMkMsRUFBRSxFQUFFO0FBQ25EO0VBQ0U7SUFDRSxnQkFBZ0IsRUFBRTtFQUNwQjtJQUNFLGdEQUFnRCxFQUFFO0VBQ3BEO0lBQ0UsMkNBQTJDLEVBQUUsRUFBRTtBQUNuRDtFQUNFO0lBQ0UsNEJBQTRCLEVBQUU7RUFDaEM7SUFDRSw0QkFBNEIsRUFBRTtFQUNoQztJQUNFLGdEQUFnRCxFQUFFO0VBQ3BEO0lBQ0UsMkNBQTJDLEVBQUUsRUFBRTtBQUNuRDtFQUNFO0lBQ0UsV0FBVztJQUNYLG9DQUFvQyxFQUFFO0VBQ3hDO0lBQ0UsV0FBVztJQUNYLGdCQUFnQixFQUFFLEVBQUU7QUFDeEI7RUFDRTtJQUNFLFdBQVcsRUFBRTtFQUNmO0lBQ0UsV0FBVyxFQUFFLEVBQUU7QUFDbkI7RUFDRTtJQUNFLFdBQVcsRUFBRTtFQUNmO0lBQ0UsV0FBVyxFQUFFLEVBQUU7QUFDbkI7RUFDRSx1QkFBWTtFQUNaLDRCQUFpQjtFQUNqQiw4QkFBbUI7RUFDbkIsa0JBQU87RUFDUCx5QkFBYztFQUNkLGdDQUFxQixFQUFFOztBQUV6QjtFQUNFLHFCQUFVO0VBQ1YsNkJBQWtCO0VBQ2xCLGtCQUFPO0VBQ1AsdUJBQVk7RUFDWix5QkFBYztFQUNkLHNCQUFXO0VBQ1gsb0NBQXlCO0VBQ3pCLDhCQUFtQjtFQUNuQixzQkFBVztFQUNYLCtCQUFvQjtFQUNwQiwyQkFBZ0IsRUFBRTs7QUFFcEI7RUFDRSx5QkFBYztFQUNkLG9DQUF5QjtFQUN6Qiw4QkFBbUI7RUFDbkIsdUJBQVk7RUFDWiw2QkFBa0I7RUFDbEIsOEJBQW1CO0VBQ25CLHNCQUFXO0VBQ1gsK0JBQW9CO0VBQ3BCLHdCQUFhO0VBQ2IsNkJBQWtCO0VBQ2xCLG9DQUF5QjtFQUN6QiwrQkFBb0I7RUFDcEIsa0NBQXVCO0VBQ3ZCLCtCQUFvQjtFQUNwQiwwQ0FBK0IsRUFBRTtFQUNqQztJQUNFLCtCQUFvQjtJQUNwQiw4QkFBbUIsRUFBRTs7QUFFekI7RUFDRSwrQkFBb0I7RUFDcEIsOEJBQW1CO0VBQ25CLHVCQUFZO0VBQ1osa0JBQU87RUFDUCxxQkFBVTtFQUNWLHNCQUFXO0VBQ1gsZ0NBQXFCO0VBQ3JCLHVCQUFZO0VBQ1osd0JBQWE7RUFDYixnQ0FBcUI7RUFDckIsOEhBQW1ILEVBQUU7RUFDckg7SUFDRSxvQkFBUyxFQUFFO0lBQ1g7TUFDRSxzQkFBVyxFQUFFOztBQUVuQjtFQUNFLDBCQUFlO0VBQ2YsMkJBQWdCO0VBQ2hCLDhCQUFtQjtFQUNuQiwyQkFBZ0I7RUFDaEIsZ0NBQXFCLEVBQUU7O0FBRXpCO0VBQ0UsMkJBQWdCO0VBQ2hCLDBCQUFlLEVBQUU7RUFDakI7SUFDRSwwQkFBZSxFQUFFOztBQUVyQjtFQUNFLDJCQUFnQjtFQUNoQiwwQkFBZSxFQUFFO0VBQ2pCO0lBQ0UsMEJBQWUsRUFBRTs7QUFFckI7RUFDRSx5QkFBYztFQUNkLHVCQUFZO0VBQ1osd0JBQWE7RUFDYiwwR0FBK0Y7RUFDL0YsaUNBQXNCLEVBQUUiLCJmaWxlIjoiY2lyY2xlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBmb250LWZhY2Uge1xyXG4gIGZvbnQtZmFtaWx5OiBcIk9wZW4gU2Fuc1wiO1xyXG4gIGZvbnQtc3R5bGU6IG5vcm1hbDtcclxuICBmb250LXdlaWdodDogNDAwO1xyXG4gIHNyYzogbG9jYWwoXCJPcGVuIFNhbnMgUmVndWxhclwiKSwgbG9jYWwoXCJPcGVuU2Fucy1SZWd1bGFyXCIpLCB1cmwoXCJjaHJvbWUtZXh0ZW5zaW9uOi8vX19NU0dfQEBleHRlbnNpb25faWRfXy9mb250cy9PcGVuU2Fucy53b2ZmMlwiKSBmb3JtYXQoXCJ3b2ZmMlwiKTtcclxuICB1bmljb2RlLXJhbmdlOiBVKzAwMDAtMDBGRiwgVSswMTMxLCBVKzAxNTItMDE1MywgVSswMkJCLTAyQkMsIFUrMDJDNiwgVSswMkRBLCBVKzAyREMsIFUrMjAwMC0yMDZGLCBVKzIwNzQsIFUrMjBBQywgVSsyMTIyLCBVKzIyMTIsIFUrMjIxNTsgfVxyXG5Aa2V5ZnJhbWVzIGJhY2tncm91bmQtbW92ZSB7XHJcbiAgMCUge1xyXG4gICAgYmFja2dyb3VuZC1wb3NpdGlvbjogMTclIDAlOyB9XHJcbiAgNTAlIHtcclxuICAgIGJhY2tncm91bmQtcG9zaXRpb246IDg0JSAxMDAlOyB9XHJcbiAgMTAwJSB7XHJcbiAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiAxNyUgMCU7IH0gfVxyXG4uY2lyY2xlLWNvbnRhaW5lciAqIHtcclxuICBib3JkZXI6IDA7XHJcbiAgYm90dG9tOiBpbml0aWFsO1xyXG4gIGJveC1zaXppbmc6IGNvbnRlbnQtYm94O1xyXG4gIGZvbnQ6IGluaGVyaXQ7XHJcbiAgZm9udC1zaXplOiAxMDAlO1xyXG4gIGZvbnQtZmFtaWx5OiBpbmhlcml0O1xyXG4gIGxlZnQ6IGluaXRpYWw7XHJcbiAgbWFyZ2luOiAwO1xyXG4gIHBhZGRpbmc6IDA7XHJcbiAgcG9zaXRpb246IGluaXRpYWw7XHJcbiAgcmlnaHQ6IGluaXRpYWw7XHJcbiAgdG9wOiBpbml0aWFsO1xyXG4gIHZlcnRpY2FsLWFsaWduOiBiYXNlbGluZTtcclxuICBkaXNwbGF5OiBpbml0aWFsOyB9XHJcbiAgLmNpcmNsZS1jb250YWluZXIgKiA6OmJlZm9yZSwgLmNpcmNsZS1jb250YWluZXIgKiA6OmFmdGVyIHtcclxuICAgIGJvcmRlcjogMDtcclxuICAgIGJvdHRvbTogaW5pdGlhbDtcclxuICAgIGJveC1zaXppbmc6IGNvbnRlbnQtYm94O1xyXG4gICAgZm9udDogaW5oZXJpdDtcclxuICAgIGZvbnQtc2l6ZTogMTAwJTtcclxuICAgIGZvbnQtZmFtaWx5OiBpbmhlcml0O1xyXG4gICAgbGVmdDogaW5pdGlhbDtcclxuICAgIG1hcmdpbjogMDtcclxuICAgIHBhZGRpbmc6IDA7XHJcbiAgICBwb3NpdGlvbjogaW5pdGlhbDtcclxuICAgIHJpZ2h0OiBpbml0aWFsO1xyXG4gICAgdG9wOiBpbml0aWFsO1xyXG4gICAgdmVydGljYWwtYWxpZ246IGJhc2VsaW5lO1xyXG4gICAgZGlzcGxheTogaW5pdGlhbDsgfVxyXG5cclxuLmNpcmNsZS1jb250YWluZXIgKiB7XHJcbiAgZm9udC1mYW1pbHk6IFwiT3BlbiBTYW5zXCI7XHJcbiAgLXdlYmtpdC1mb250LXNtb290aGluZzogYW50aWFsaWFzZWQ7XHJcbiAgdGV4dC1yZW5kZXJpbmc6IG9wdGltaXplTGVnaWJpbGl0eTtcclxuICBsaW5lLWhlaWdodDogbm9ybWFsOyB9XHJcbi5jaXJjbGUtY29udGFpbmVyIGEge1xyXG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcclxuICBjb2xvcjogaW5pdGlhbDsgfVxyXG4gIC5jaXJjbGUtY29udGFpbmVyIGE6aG92ZXIge1xyXG4gICAgY29sb3I6ICNmZjYxYTc7IH1cclxuXHJcbkBrZXlmcmFtZXMgcHVsc2Utc2hhZG93IHtcclxuICAwJSB7XHJcbiAgICBib3gtc2hhZG93OiAwIDAgMCAwICM2MWE3ZmY7IH1cclxuICA3MCUge1xyXG4gICAgYm94LXNoYWRvdzogMCAwIDVweCAxMHB4IHJnYmEoMjU1LCAyNTUsIDI1NSwgMCk7IH1cclxuICAxMDAlIHtcclxuICAgIGJveC1zaGFkb3c6IDAgMCAwIDAgcmdiYSgyNTUsIDI1NSwgMjU1LCAwKTsgfSB9XHJcbkBrZXlmcmFtZXMgcHVsc2Utc2hhZG93LS1jb2xsZWN0aW9uIHtcclxuICAwJSB7XHJcbiAgICBib3gtc2hhZG93OiAwIDA7IH1cclxuICA3MCUge1xyXG4gICAgYm94LXNoYWRvdzogMCAwIDVweCAxMHB4IHJnYmEoMjU1LCAyNTUsIDI1NSwgMCk7IH1cclxuICAxMDAlIHtcclxuICAgIGJveC1zaGFkb3c6IDAgMCAwIDAgcmdiYSgyNTUsIDI1NSwgMjU1LCAwKTsgfSB9XHJcbkBrZXlmcmFtZXMgcHVsc2Utc2hhZG93LS1vbmJvYXJkaW5nIHtcclxuICAwJSB7XHJcbiAgICBib3gtc2hhZG93OiAwIDAgMCAwICM2MWE3ZmY7IH1cclxuICAzMCUge1xyXG4gICAgYm94LXNoYWRvdzogMCAwIDAgMCAjNjFhN2ZmOyB9XHJcbiAgODAlIHtcclxuICAgIGJveC1zaGFkb3c6IDAgMCAxMHB4IDNweCByZ2JhKDI1NSwgMjU1LCAyNTUsIDApOyB9XHJcbiAgMTAwJSB7XHJcbiAgICBib3gtc2hhZG93OiAwIDAgMCAwIHJnYmEoMjU1LCAyNTUsIDI1NSwgMCk7IH0gfVxyXG5Aa2V5ZnJhbWVzIGZhZGUtaW4tbGVmdCB7XHJcbiAgZnJvbSB7XHJcbiAgICBvcGFjaXR5OiAwO1xyXG4gICAgdHJhbnNmb3JtOiB0cmFuc2xhdGUzZCgtMTAwJSwgMCwgMCk7IH1cclxuICB0byB7XHJcbiAgICBvcGFjaXR5OiAxO1xyXG4gICAgdHJhbnNmb3JtOiBub25lOyB9IH1cclxuQGtleWZyYW1lcyBmYWRlLWluIHtcclxuICBmcm9tIHtcclxuICAgIG9wYWNpdHk6IDA7IH1cclxuICB0byB7XHJcbiAgICBvcGFjaXR5OiAxOyB9IH1cclxuQGtleWZyYW1lcyBmYWRlLW91dCB7XHJcbiAgZnJvbSB7XHJcbiAgICBvcGFjaXR5OiAxOyB9XHJcbiAgdG8ge1xyXG4gICAgb3BhY2l0eTogMDsgfSB9XHJcbi5jaXJjbGUtY29udGFpbmVyIHtcclxuICB3aWR0aDogMTAwJTtcclxuICBwb3NpdGlvbjogc3RhdGljO1xyXG4gIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICB0b3A6IDA7XHJcbiAgZGlzcGxheTogZmxleDtcclxuICBmb250LWZhbWlseTogaW5pdGlhbDsgfVxyXG5cclxuLmNpcmNsZS1kcm9wZG93biB7XHJcbiAgbWFyZ2luOiAwO1xyXG4gIG92ZXJmbG93OiB2aXNpYmxlO1xyXG4gIHRvcDogMDtcclxuICB3aWR0aDogMTAwJTtcclxuICBoZWlnaHQ6IDEwMHB4O1xyXG4gIHotaW5kZXg6IDM7XHJcbiAgYm9yZGVyOiAxcHggbm9uZSAjYmRiZGJkO1xyXG4gIGJvcmRlci1yYWRpdXM6IDRweDtcclxuICBvcGFjaXR5OiAxO1xyXG4gIHZpc2liaWxpdHk6IHZpc2libGU7XHJcbiAgZm9udC1zaXplOiAxMnB4OyB9XHJcblxyXG4uY2lyY2xlLWRyb3Bkb3duLWNvbnRlbnQge1xyXG4gIGRpc3BsYXk6IGZsZXg7XHJcbiAgYm9yZGVyOiAxcHggbm9uZSAjYmRiZGJkO1xyXG4gIGJvcmRlci1yYWRpdXM6IDRweDtcclxuICB3aWR0aDogOTBweDtcclxuICBtYXJnaW4tbGVmdDogYXV0bztcclxuICBtYXJnaW4tcmlnaHQ6IGF1dG87XHJcbiAgb3BhY2l0eTogMDtcclxuICBiYWNrZ3JvdW5kOiAjZmZmZmZmO1xyXG4gIGhlaWdodDogODBweDtcclxuICBvdmVyZmxvdzogdmlzaWJsZTtcclxuICB0cmFuc2l0aW9uOiBvcGFjaXR5IDAuM3M7XHJcbiAgcGFkZGluZy1ib3R0b206IDFlbTtcclxuICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xyXG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuOyB9XHJcbiAgLmNpcmNsZS1kcm9wZG93bi1jb250ZW50ID4gZGl2IHtcclxuICAgIG1hcmdpbi1yaWdodDogMC41ZW07XHJcbiAgICBtYXJnaW4tbGVmdDogMC41ZW07IH1cclxuXHJcbi5jaXJjbGUtY29udGVudCB7XHJcbiAgdmlzaWJpbGl0eTogdmlzaWJsZTtcclxuICB0cmFuc2l0aW9uOiBhbGwgMXM7XHJcbiAgei1pbmRleDogMTg7XHJcbiAgdG9wOiAwO1xyXG4gIG1hcmdpbjogMDtcclxuICBvcGFjaXR5OiAxO1xyXG4gIHBvaW50ZXItZXZlbnRzOiBhdXRvO1xyXG4gIHdpZHRoOiAxMDAlO1xyXG4gIGhlaWdodDogODBweDtcclxuICB0cmFuc2l0aW9uOiB0b3AgMC4zcztcclxuICBiYWNrZ3JvdW5kOiB1cmwoXCJjaHJvbWUtZXh0ZW5zaW9uOi8vX19NU0dfQEBleHRlbnNpb25faWRfXy9pbWcvaWNvbi9uZXdjaXJjbGV3aGl0ZS5zdmdcIikgY2VudGVyIDBweC80MHB4IG5vLXJlcGVhdDsgfVxyXG4gIC5jaXJjbGUtY29udGVudDpob3ZlciB7XHJcbiAgICB0b3A6IDVweDsgfVxyXG4gICAgLmNpcmNsZS1jb250ZW50OmhvdmVyIC5jaXJjbGUtZHJvcGRvd24tY29udGVudCB7XHJcbiAgICAgIG9wYWNpdHk6IDE7IH1cclxuXHJcbi5jaXJjbGUtdGV4dCB7XHJcbiAgY29sb3I6ICM2ZDZkNmQ7XHJcbiAgZm9udC1zaXplOiAxM3B4O1xyXG4gIGxpbmUtaGVpZ2h0OiAxLjNlbTtcclxuICBtYXJnaW4tdG9wOiAxZW07XHJcbiAgbWFyZ2luLWJvdHRvbTogMC4yZW07IH1cclxuXHJcbi5jaXJjbGUtc2hvdy1vbmNlIHtcclxuICBjdXJzb3I6IHBvaW50ZXI7XHJcbiAgY29sb3I6ICNiZGJkYmQ7IH1cclxuICAuY2lyY2xlLXNob3ctb25jZTpob3ZlciB7XHJcbiAgICBjb2xvcjogI2ZmNjFhNzsgfVxyXG5cclxuLmNpcmNsZS1zaG93LWFsd2F5cyB7XHJcbiAgY3Vyc29yOiBwb2ludGVyO1xyXG4gIGNvbG9yOiAjYmRiZGJkOyB9XHJcbiAgLmNpcmNsZS1zaG93LWFsd2F5czpob3ZlciB7XHJcbiAgICBjb2xvcjogI2ZmNjFhNzsgfVxyXG5cclxuLmNpcmNsZS1sb2dvIHtcclxuICBtYXJnaW4tdG9wOiAwO1xyXG4gIHdpZHRoOiA0MHB4O1xyXG4gIGhlaWdodDogNDBweDtcclxuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoXCJjaHJvbWUtZXh0ZW5zaW9uOi8vX19NU0dfQEBleHRlbnNpb25faWRfXy9pbWcvaWNvbi9uZXdjaXJjbGV3aGl0ZS5zdmdcIik7XHJcbiAgYmFja2dyb3VuZC1zaXplOiA0MHB4OyB9XHJcbiJdfQ== */