@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("chrome-extension://__MSG_@@extension_id__/fonts/OpenSans.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

@keyframes background-move {
  0% {
    background-position: 17% 0%; }
  50% {
    background-position: 84% 100%; }
  100% {
    background-position: 17% 0%; } }

.circle-container * {
  border: 0 !important;
  bottom: initial !important;
  box-sizing: content-box !important;
  font: inherit !important;
  font-size: 100% !important;
  font-family: inherit !important;
  left: initial !important;
  margin: 0 !important;
  padding: 0 !important;
  position: initial !important;
  right: initial !important;
  top: initial !important;
  vertical-align: baseline !important;
  display: initial !important; }
  .circle-container * ::before, .circle-container * ::after {
    border: 0 !important;
    bottom: initial !important;
    box-sizing: content-box !important;
    font: inherit !important;
    font-size: 100% !important;
    font-family: inherit !important;
    left: initial !important;
    margin: 0 !important;
    padding: 0 !important;
    position: initial !important;
    right: initial !important;
    top: initial !important;
    vertical-align: baseline !important;
    display: initial !important; }

.circle-container * {
  font-family: 'Open Sans' !important;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  line-height: normal !important; }

.circle-container a {
  text-decoration: none !important;
  color: initial !important; }
  .circle-container a:hover {
    color: #ff61a7 !important; }

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 0 0 #61a7ff; }
  70% {
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }

@keyframes pulse-shadow--collection {
  0% {
    box-shadow: 0 0; }
  70% {
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }

@keyframes pulse-shadow--onboarding {
  0% {
    box-shadow: 0 0 0 0 #61a7ff; }
  30% {
    box-shadow: 0 0 0 0 #61a7ff; }
  80% {
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.circle-container {
  width: 100% !important;
  position: static !important;
  margin-top: 5px !important;
  top: 0 !important;
  display: flex !important;
  font-family: initial !important;
  justify-content: center !important;
  transform: translateZ(0) !important; }

.circle-dropdown {
  margin: 0 !important;
  overflow: visible !important;
  top: 0 !important;
  width: 100% !important;
  height: 100px !important;
  z-index: 3 !important;
  border: 1px none #bdbdbd !important;
  border-radius: 4px !important;
  visibility: visible !important;
  font-size: 12px !important; }

.circle-dropdown-content {
  display: flex !important;
  border: 1px none #bdbdbd !important;
  border-radius: 4px !important;
  border-radius: 30px !important;
  width: 90px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  opacity: 0 !important;
  visibility: hidden !important;
  background: #ffffff !important;
  height: 100px !important;
  overflow: visible !important;
  transition: opacity 0.3s !important;
  padding-bottom: 1em !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: space-between !important; }
  .circle-dropdown-content > div {
    margin-right: 0.5em !important;
    margin-left: 0.5em !important; }

.circle-content {
  visibility: visible !important;
  transition: all 1s !important;
  z-index: 18 !important;
  top: 0 !important;
  margin: 0 !important;
  opacity: 1 !important;
  pointer-events: auto !important;
  transform: translateZ(0) !important;
  width: auto !important;
  transition: top 0.3s !important;
  animation: fade-in 0.3s;
  background: url("chrome-extension://__MSG_@@extension_id__/img/icon/newcirclewhite.svg") center 0px/40px no-repeat !important; }
  .circle-content:hover {
    top: 5px !important; }
    .circle-content:hover .circle-dropdown-content {
      opacity: 1 !important;
      visibility: visible !important;
      display: flex !important; }

.circle-text {
  color: #6d6d6d !important;
  font-size: 13px !important;
  user-select: none !important;
  line-height: 1.3em !important;
  margin-top: 1em !important;
  margin-bottom: 0.2em !important; }

.circle-share {
  cursor: pointer !important;
  margin-top: 0.2em !important;
  opacity: 0.5 !important;
  filter: grayscale(0.5) !important;
  line-height: 18px !important;
  width: auto !important; }
  .circle-share:hover {
    filter: grayscale(0) !important;
    opacity: 1 !important; }

.circle-show-once {
  cursor: pointer !important;
  user-select: none !important;
  color: #bdbdbd !important; }
  .circle-show-once:hover {
    color: #ff61a7 !important; }

.circle-show-always {
  cursor: pointer !important;
  user-select: none !important;
  color: #bdbdbd !important; }
  .circle-show-always:hover {
    color: #ff61a7 !important; }

.circle-reset-settings {
  text-transform: uppercase !important;
  margin-top: 2px !important;
  font-size: 9px !important;
  cursor: pointer !important;
  color: #bdbdbd !important; }
  .circle-reset-settings:hover {
    color: #ff61a7 !important; }

.circle-logo {
  margin-top: 0 !important;
  transform: translateZ(0) !important;
  width: 40px !important;
  height: 40px !important;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/icon/newcirclewhite.svg") !important;
  background-size: 40px !important; }
