.jewelCount {
  display: none !important;
  visibility: hidden !important; }

._3nzl a.jewelButton ._2n_9 {
  background: none !important;
  opacity: .6 !important; }

._4xi2 a.jewelButton ._2n_9 {
  background: none !important;
  opacity: .6 !important; }

._330i._1z4y a.jewelButton ._2n_9 {
  background: none !important;
  opacity: .6 !important; }

._4xi2._5orm a.jewelButton ._2n_9 {
  background: none !important;
  opacity: .6 !important; }

._5v-0 ._53il {
  display: none !important; }

._1ijl {
  display: none !important;
  background: none !important; }
