div.facebook-logo
div.facebook-text This will unfollow all your friends, pages and groups
button.facebook-button-blue#js-execute-unfollow Start unfollowing
div.facebook-bottom-text Only you will know about unfollowing, and you can manually refollow later