div.facebook-close
div.facebook-container#nudge-dialog
  div.facebook-logo-large
  //- div stuff
  button.facebook-button-blue.facebook-button-large Delete your News Feed
  //- div.facebook-bottom-container
  //-   button.facebook-button-small Delete your News Feed
  //-   button.facebook-button-small Why?
  //-   button.facebook-button-small Hide this box and don't show again
  div.facebook-bottom-text
    a(href='http://extranewsfeed.com/11-reasons-to-delete-your-news-feed-400427b9315e', target='_blank') Why?
    |  &bull; 
    a#fb_show_unfollow Don't show again