div.facebook-close
div.facebook-container#nudge-dialog
  div.facebook-logo
  //- div stuff
  div.facebook-alt-headline Got two minutes? Want to help make Nudge better?
  a#js-survey(href="https://forms.gle/Epi26c6Eyd8aLnKX6" target="_blank")
    button.facebook-button-blue.facebook-button-large Take the Nudge survey
  //- div.facebook-bottom-text
  //-   a(href='http://extranewsfeed.com/11-reasons-to-delete-your-news-feed-400427b9315e' target='_blank') Why?
  //-   |  &bull; 
  //-   a#fb_show_unfollow Don't show again
  div.facebook-bottom-text
    include intro_bottom