div.facebook-logo
div.facebook-text#headline-progress Starting to unfollow...
button.facebook-button-blue#facebook-button Stop unfollowing
div.facebook-bottom-text
  span#facebook-specific-progress Working...