div.facebook-logo
div.facebook-alt-headline Got two minutes? Want to help make Nudge better?
a#js-survey(href="https://forms.gle/Epi26c6Eyd8aLnKX6" target="_blank")
  button.facebook-button-blue.facebook-button-large Take the Nudge survey
div.facebook-bottom-text
  include share_bottom