div.facebook-logo
//- div.facebook-button-blue.facebook-button-large(
//-   target='_blank') Share 
//-   span.facebook-strike Facebook
//-   |  Nudge
div.facebook-alt-headline
  a(href="https://goo.gl/c2Bw4h" target='_blank')#nudge-share.facebook-text.facebook-alt-headline.facebook-tweaker
    div Tell a friend about Nudge and I'll send you a free picture of Mark Zuckerberg's head photoshopped onto the fish of your choice.
//- div.facebook-text.facebook-alt-headline.facebook-tweaker2
//-   a.facebook-text.facebook-alt-headline.facebook-tweaker2 Take the (fish-flavored) red pill here.
div.facebook-bottom-text
  include share_bottom