div.facebook-logo-large
//- div.facebook-button-blue.facebook-button-large(
//-   target='_blank') Share 
//-   span.facebook-strike Facebook
//-   |  Nudge
//- div.facebook-button-blue.facebook-button-large(target='_blank') Show off your empty News Feed
//- div.facebook-button-blue.facebook-button-large(target='_blank') Ironically post Nudge on Facebook
//- div.facebook-button-blue.facebook-button-large(target='_blank') Give your friends (a) Nudge
//- div.facebook-button-blue.facebook-button-large(target='_blank') Help Zuckerberg retire
div.facebook-button-blue.facebook-button-large(target='_blank') Facebook addiction is so 2017
div.facebook-bottom-text
  include share_bottom