@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@keyframes background-move {
  0% {
    background-position: 17% 0%; }
  50% {
    background-position: 84% 100%; }
  100% {
    background-position: 17% 0%; } }
.call-out *, .nudge-wrapper * {
  border: 0;
  bottom: initial;
  box-sizing: initial;
  font: inherit;
  font-size: 100%;
  left: initial;
  margin: 0;
  padding: 0;
  position: initial;
  right: initial;
  top: initial;
  vertical-align: baseline; }

body *, .nudge-wrapper * {
  color: #bdbdbd;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased; }
body a:hover, .nudge-wrapper a:hover {
  color: #6d6d6d; }
body .small, .nudge-wrapper .small {
  font-size: 12px; }
body h1, .nudge-wrapper h1 {
  font-size: 1.5714285714rem;
  color: #6d6d6d; }
body h2, .nudge-wrapper h2 {
  text-transform: uppercase;
  font-size: 0.8571428571rem;
  color: #6d6d6d; }

textarea,
input {
  outline: none;
  border: 0; }

body, p {
  padding: 0;
  margin: 0; }

ul {
  padding: 0; }

li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400; }

button {
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
  color: #bdbdbd;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 0.3333333333em 0.8333333333em 0.3333333333em 0.8333333333em; }
  button:hover {
    box-shadow: none;
    color: #ffffff;
    border-color: transparent;
    background: #bdbdbd;
    box-shadow: none; }

body {
  font-size: 14px; }

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 0 0 #61a7ff; }
  70% {
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
@keyframes pulse-shadow--collection {
  0% {
    box-shadow: 0 0; }
  70% {
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
@keyframes pulse-shadow--onboarding {
  0% {
    box-shadow: 0 0 0 0 #61a7ff; }
  30% {
    box-shadow: 0 0 0 0 #61a7ff; }
  80% {
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes pulse-background {
  0% {
    background-color: #bdbdbd; }
  20% {
    background-color: #61a7ff; }
  100% {
    background-color: #bdbdbd; } }
.arrow {
  border-left: 1px solid #a9a9a9;
  border-top: 1px solid #a9a9a9;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: 4em;
  left: 20px;
  margin-top: -2em;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: rotate(-135deg);
  width: 4em; }

.toggle {
  color: #bdbdbd;
  display: flex;
  padding: 0; }
  .toggle .left {
    padding: 0.3333333333em 0.8333333333em 0.3333333333em 0.8333333333em;
    color: inherit; }
  .toggle .right {
    padding: 0.3333333333em 0.8333333333em 0.3333333333em 0.8333333333em;
    color: inherit; }
  .toggle .on {
    background: #bdbdbd;
    background-clip: border-box;
    color: #ffffff; }
  .toggle:hover {
    background: inherit;
    border-color: #6d6d6d;
    color: #6d6d6d; }
    .toggle:hover .on {
      background: #6d6d6d;
      color: #ffffff; }

.tags li {
  border: 1px none #bdbdbd;
  border-radius: 4px;
  display: flex;
  padding-right: 1em;
  float: left;
  height: 2em;
  line-height: 2em;
  position: relative;
  color: #ffffff;
  font-size: 0.7142857143rem;
  background-color: #bdbdbd;
  margin-right: 0.5em;
  margin-bottom: 0.5em; }
  .tags li::before {
    content: "";
    margin: auto 0.3333333333em auto 0.3333333333em;
    width: 1.3333333333em;
    height: 1.3333333333em;
    z-index: 0; }
  .tags li::before {
    filter: grayscale(100%);
    opacity: 0.5;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center center; }
  .tags li:hover {
    background: none;
    cursor: pointer; }
    .tags li:hover::after {
      content: "";
      display: block;
      position: absolute;
      animation: background-move 15s ease infinite;
      background: linear-gradient(145deg, #61a7ff, #ff61a7);
      background-size: 400% 400%;
      border-color: transparent;
      border-radius: inherit;
      color: #ffffff;
      content: "Remove";
      height: 100%;
      left: 0;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 1; }

.text-input input {
  border-bottom: 1px solid #bdbdbd;
  border-bottom-color: #bdbdbd;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0 0 0.3333333333em 0;
  position: relative;
  width: 20em; }
  .text-input input::placeholder {
    color: #bdbdbd; }
  .text-input input:focus {
    border-bottom: 1px solid #bdbdbd; }

.call-out {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0.3333333333em 0.8333333333em 0.3333333333em 0.8333333333em;
  width: 500px; }
  .call-out:before {
    content: "";
    position: absolute;
    top: calc(100% - 0.5em);
    left: 1em;
    height: 1em;
    width: 1em;
    background: #ffffff;
    transform: rotate(45deg);
    border-bottom: inherit;
    border-right: inherit;
    box-shadow: inherit; }

.slider {
  width: 100%;
  height: 5em;
  margin-top: 10em;
  border-radius: 6em;
  text-align: center;
  background: #f7f7f7; }

.button {
  position: relative;
  height: 5em;
  width: 5em;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-radius: 2.5em;
  cursor: pointer;
  user-select: none;
  backface-visibility: hidden;
  perspective: 1000; }

.slider-text {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.4em; }

.button-centre {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  height: 4.3571428571em;
  width: 4.3571428571em;
  background-color: #ededed;
  border-radius: 2.5em;
  transition: background-color 0.2s ease;
  backface-visibility: hidden;
  perspective: 1000; }
  .button-centre:hover {
    background: #e5e5e5; }
  .button-centre:active {
    background: #bdbdbd; }

.returning {
  transition: all 0.2s ease; }

.header {
  border-bottom: 1px solid #bdbdbd; }

.header-line::after {
  content: "";
  display: block;
  position: absolute;
  background: red;
  width: 10px;
  height: 10px;
  z-index: -1; }

.leftPara {
  flex-basis: 50%;
  display: block;
  padding-right: 15px; }

.rightImage {
  flex-basis: 50%;
  height: 200px;
  background: #bdbdbd; }

.paraImage {
  border-bottom: solid 1px;
  height: 90vh;
  width: 100vw;
  background-color: yellow;
  align-items: flex-start; }

.nudge-container {
  position: absolute;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 20px;
  top: 20px;
  width: auto;
  min-width: 300px;
  height: auto;
  animation: fade-in-left 0.3s;
  z-index: 2147483647; }
  .nudge-container > div {
    align-items: baseline;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.4em; }
  .nudge-container > div {
    align-self: flex-start; }
  .nudge-container .nudge-menu, .nudge-container .nudge-main, .nudge-container .nudge-banner {
    display: none;
    animation: fade-in-left 0.3s; }
  .nudge-container .nudge-main, .nudge-container .nudge-banner {
    display: flex; }
  .nudge-container:hover > div {
    opacity: 1; }
  .nudge-container:hover .nudge-menu, .nudge-container:hover .nudge-main, .nudge-container:hover .nudge-banner {
    display: flex; }
  .nudge-container:hover .nudge-highlight, .nudge-container:hover .nudge-favicon {
    animation: none;
    background: #61a7ff; }

.nudge-pulse {
  animation: pulse-shadow--onboarding 2s infinite; }

.nudge-menu, .nudge-main, .nudge-banner {
  border: 1px none #bdbdbd;
  border-radius: 4px;
  padding: 0.3333333333em 0.8333333333em 0.3333333333em 0.8333333333em;
  animation: none;
  background: #ededed;
  cursor: pointer;
  font-size: 13px;
  margin-bottom: 0;
  opacity: 0;
  vertical-align: middle; }
  .nudge-menu:hover, .nudge-main:hover, .nudge-banner:hover {
    background: #bdbdbd;
    color: #ffffff; }

.nudge-switch {
  opacity: 0;
  width: 3.2em;
  height: 3.2em;
  background: url("chrome-extension://dmhgdnbkjkejeddddlklojinngaideac/resources/images/offswitch.svg") center 0.35em/2.2em no-repeat #6d6d6d;
  border-radius: 1.8em;
  position: absolute;
  bottom: 0;
  right: 0; }

.nudge-main, .nudge-banner {
  border: 1px solid #ededed;
  border-radius: 4px;
  padding: 0.3333333333em 0.8333333333em 0.3333333333em 0;
  backface-visibility: hidden;
  perspective: 1000;
  background: #ffffff;
  color: #4f4f4f;
  font-size: 20px;
  margin-bottom: 0.5em;
  opacity: 1; }
  .nudge-main::before, .nudge-banner::before {
    content: "";
    margin: auto 0.3em auto 0.3em;
    width: 1.2em;
    height: 1.2em;
    z-index: 0; }
  .nudge-main::before, .nudge-banner::before {
    background: url("chrome-extension://dmhgdnbkjkejeddddlklojinngaideac/resources/images/logo-color.svg") center center/1.2em no-repeat;
    border-right: 1px solid #bdbdbd;
    border-color: #ededed;
    margin-left: 0;
    padding-right: 1em; }
  .nudge-main:hover, .nudge-banner:hover {
    background-color: #ededed; }
    .nudge-main:hover::before, .nudge-banner:hover::before {
      border-color: #bdbdbd; }

.nudge-highlight, .nudge-favicon {
  background: #bdbdbd;
  color: #ffffff;
  border: 1px none #bdbdbd;
  border-radius: 4px;
  padding: 0em 0.3em 0.1em 0.3em;
  margin-left: 0.3em;
  margin-right: 0.3em;
  animation: pulse-background 1s infinite;
  transition: transform 2s ease; }

.nudge-favicon {
  background-color: #ff61a7;
  animation: none;
  height: 1.2em;
  width: 0.7em;
  align-self: center; }

.nudge-banner {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  bottom: 0; }

.nudge-scale {
  padding-left: 1em;
  text-indent: -1em; }
  .nudge-scale li {
    padding: 0 0 0 2em;
    font-size: 0.8571428571rem;
    width: 1em;
    height: 1cm; }
    .nudge-scale li::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      padding: 0.75em 0 0 0;
      width: 1em;
      border-bottom: 1px solid #bdbdbd; }
    .nudge-scale li::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      padding: 0.75em 0 0 0;
      width: 0.25em;
      border-bottom: 1px solid #bdbdbd; }

.off-background {
  background-size: cover;
  height: 100%;
  background-color: #ededed; }

.off-typography * {
  color: #bdbdbd; }

.off-logo {
  margin-top: 8em;
  width: 8em;
  height: 8em; }
  .off-logo::before {
    content: "";
    display: block;
    position: absolute;
    width: 8em;
    height: 8em;
    background-image: url("chrome-extension://__MSG_@@extension_id__/resources/images/logo-grey.svg");
    background-position: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: 0.05; }
  .off-logo::after {
    content: "";
    display: block;
    position: absolute;
    width: 8em;
    height: 8em;
    background-image: url("chrome-extension://__MSG_@@extension_id__/resources/images/logo-grey.svg");
    background-position: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("chrome-extension://__MSG_@@extension_id__/resources/images/logo-color.svg");
    opacity: 0.1;
    filter: grayscale(100%); }

.off-module {
  margin-top: 1em;
  padding: 0.3333333333em 0.8333333333em 0.3333333333em 0.8333333333em;
  flex-direction: column; }
  .off-module > * {
    margin-bottom: 1em; }

.off-row {
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
  flex-wrap: wrap; }
  .off-row > div {
    border: 1px none #bdbdbd;
    border-radius: 4px;
    background: #ffffff;
    padding: 0.3333333333em 0.8333333333em 0.3333333333em 0.8333333333em;
    width: auto;
    height: 40px; }

.off-para {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.8em; }

.off-container {
  position: absolute;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 25%;
  top: 0;
  width: 50%;
  min-width: 300px; }
  .off-container > div {
    align-items: baseline;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em; }

.options-container {
  position: absolute;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 200px;
  top: 0;
  width: 800px;
  min-width: 300px; }
  .options-container > div {
    align-items: baseline;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em; }

.popup-body {
  width: 300px;
  height: 300px;
  margin: 5px;
  padding: 5px; }

.popup-container {
  position: absolute;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 300px;
  min-width: 300px; }
  .popup-container > div {
    align-items: baseline;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px; }
  .popup-container > div {
    margin: auto; }
