@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 0 0 #61a7ff; }
  70% {
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
@keyframes pulse-shadow--collection {
  0% {
    box-shadow: 0 0; }
  70% {
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
@keyframes pulse-shadow--onboarding {
  0% {
    box-shadow: 0 0 0 0 #61a7ff; }
  30% {
    box-shadow: 0 0 0 0 #61a7ff; }
  80% {
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }
@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes pulse-background {
  0% {
    background-color: #bdbdbd; }
  20% {
    background-color: #61a7ff; }
  100% {
    background-color: #bdbdbd; } }
@keyframes background-move {
  0% {
    background-position: 17% 0%; }
  50% {
    background-position: 84% 100%; }
  100% {
    background-position: 17% 0%; } }
#nudge * {
  border: 0;
  bottom: initial;
  box-sizing: content-box;
  font: inherit;
  font-size: 100%;
  font-family: inherit;
  left: initial;
  margin: 0;
  padding: 0;
  position: initial;
  right: initial;
  top: initial;
  vertical-align: baseline;
  display: initial; }

#nudge #nudge-container * {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: normal; }
#nudge #nudge-container a {
  text-decoration: none;
  color: initial; }
  #nudge #nudge-container a:hover {
    color: #ff61a7; }

#nudge {
  display: block; }
  #nudge #nudge-container {
    position: absolute;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: -5px;
    top: -5px;
    width: auto;
    min-width: 300px;
    position: fixed;
    height: auto;
    font-size: 16px;
    animation: fade-in 0.3s;
    z-index: 2147483647; }
    #nudge #nudge-container > div {
      align-items: baseline;
      align-self: stretch;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.4em; }
    #nudge #nudge-container > div {
      align-self: flex-start; }
    #nudge #nudge-containermenu > div {
      display: block;
      animation: fade-in 0.3s; }
  #nudge #nudge-main {
    display: flex;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    padding: 0.3333333333em 0.8333333333em 0.3333333333em 0;
    padding-bottom: 0.15em;
    padding-right: 0.5em;
    backface-visibility: hidden;
    perspective: 1000;
    background: #ffffff;
    color: #6d6d6d;
    font-size: 17px;
    flex-direction: row;
    margin-bottom: 0.5em;
    opacity: 1;
    align-items: baseline; }
    #nudge #nudge-main::before {
      content: "";
      margin: auto 0.3em auto 0.3em;
      width: 1.2em;
      height: 1.2em;
      z-index: 0; }
    #nudge #nudge-main p {
      padding: 0 0 0.1em 0;
      align-self: center; }
    #nudge #nudge-main * {
      cursor: default;
      user-select: none; }
    #nudge #nudge-main::before {
      background: url("chrome-extension://dmhgdnbkjkejeddddlklojinngaideac/resources/images/logo-color.svg") center center/1.2em no-repeat;
      border-right: 1px solid #bdbdbd;
      border-color: #ededed;
      margin-left: 0;
      padding-right: 1em; }
  #nudge #nudge-menu {
    border: 1px none #bdbdbd;
    border-radius: 4px;
    padding: 0.3333333333em 0.8333333333em 0.3333333333em 0.8333333333em;
    animation: none;
    background: #ffffff;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 0;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25); }
    #nudge #nudge-menu:hover {
      background: #d4d4d4; }
  #nudge #nudge-switch {
    opacity: 0;
    width: 3.2em;
    height: 3.2em;
    background: url("chrome-extension://dmhgdnbkjkejeddddlklojinngaideac/resources/images/offswitch.svg") center 0.35em/2.2em no-repeat #6d6d6d;
    border-radius: 1.8em;
    position: absolute;
    bottom: 0;
    right: 0; }
    #nudge #nudge-switch:hover {
      background-color: #ededed; }
      #nudge #nudge-switch:hover::before {
        border-color: #bdbdbd; }
  #nudge #nudge-highlight {
    background: #61a7ff;
    color: #ffffff;
    border: 1px none #bdbdbd;
    border-radius: 4px;
    padding: 0em 0.3em 0.1em 0.3em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    align-self: center; }
  #nudge #nudge-favicon {
    animation: none;
    width: 32px;
    height: 32px;
    align-self: center;
    padding: 0;
    border: 1px none #bdbdbd;
    border-radius: 4px;
    margin-left: 0.3em;
    margin-right: 0.3em; }
  #nudge #nudge-banner {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 0; }
  #nudge #nudge-scale {
    padding-left: 1em;
    text-indent: -1em; }
    #nudge #nudge-scale li {
      padding: 0 0 0 2em;
      font-size: 0.8571428571em;
      width: 1em;
      height: 1cm; }
      #nudge #nudge-scale li::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        padding: 0.75em 0 0 0;
        width: 1em;
        border-bottom: 1px solid #bdbdbd; }
      #nudge #nudge-scale li::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        padding: 0.75em 0 0 0;
        width: 0.25em;
        border-bottom: 1px solid #bdbdbd; }
