/* Copyright 2016, Nudge, All rights reserved. */



@media only screen and (max-width: 800px) {
    .slider-text {
        display: none;
    }
}

@media only screen and (max-height: 600px) {
    .t {
      display: none;
    }
}

@media only screen and (max-height: 530px) {
    .h1 {
      display: none;
    }
}

@media only screen and (max-height: 500px) {
    .h2 {
      display: none;
    }
}

@media only screen and (max-height: 355px) {
    .logo {
      display: none;
    }
}

