---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

p {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.button {
  background: #61a7ff;
  cursor: pointer;
  margin: 0;
  outline: none;
  box-shadow: none;
  color: white;
  border: none;
  border-radius: 4px;
  padding: (2 / 6) * 1em (5 / 6) * 1em (2 / 6) * 1em (5 / 6) * 1em;
}

.button:hover {
  box-shadow: none;
  color: white;
  border-color: transparent;
  background: darken(#61a7ff, 5%);
  box-shadow: none;
}

.logo {
  width: 18%
}

.mc-field-group {
  caret-color: black;
  border-bottom: solid;
  border-bottom-color: grey;
  border-bottom-width: 1px;
  list-style: none;
  margin: 0;
  padding-bottom: 0.4em;
  padding-top: 0.2em;
}

.mc-field-group::placeholder {
  color: grey;
}

.mc-field-group:focus {
  border-bottom: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  color: black;
}
