---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

p {
  font-family: 'Open Sans', sans-serif;
}
  

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.button {
  background: #61a7ff;
  cursor: pointer;
  margin: 0;
  outline: none;
  box-shadow: none;
  color: white;
  border: none;
  border-radius: 4px;
  padding: (2 / 6) * 1em (5 / 6) * 1em (2 / 6) * 1em (5 / 6) * 1em;
  &:hover
    box-shadow: none;
    color: white;
    border-color: transparent;
    background: darken(#61a7ff, 5%);
    box-shadow: none;
}
