html
  head
    title Becoming a Co-CEO of Nudge
    link(rel="stylesheet" href="../../css/pages/onboarding.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap' rel='stylesheet')
    meta(charset="UTF-8")
  body
    .header.horizontal
      a.back#js-back
      div.logo-small
      div.forward
    .horizontal.centered
      .contents.headspace
        h1.spacing Becoming a Co-CEO of Nudge
        p A startup is only as good as its CEO.
        p That's why I'm allowing literally anyone to become Co-CEO of Nudge, with no hiring process or quality control at all.
        p.spacing-m All you have to do to transform yourself into a high-flying startup CEO is 
          a(href="./support.html" target="_blank") share Nudge with 10 people or pay $3 a month
          | .
        img(src="../../img/preview/ceos.png" alt="You could be here").article-image.spacing-m
        p You're probably sold already. But if you still need convincing:
        ul.bullets
          li Your LinkedIn profile will become 5% sexier and 12% more obnoxious
          li Like most CEOs, you won’t need to know anything at all about what the company actually does
          li Nudge recently raised $15.6 in its Series B investment round
        p.spacing-m Here’s the fully printable certificate that you'll be able to use once you become Co-CEO*:
        img(src="../../img/preview/certificate.png" alt="Co-CEO certificate").article-image.spacing-small
        .horizontal.full-width.centered.spacing-m
          p.tooltip The certificate is fully printable
        p *Unfortunately, due to complex technical limitations, it is not possible to change ‘Your Name’ to your name.
        p.spacing-m Here’s the organisational structure of Nudge, showing how you’ll fit in once you’ve paid:
        img(src="../../img/preview/orgchart.png" alt="Organisational structure").article-image.spacing-small
        .horizontal.full-width.centered.spacing-m
          p.tooltip Technically you’ll be senior to me (which means nothing in reality)
        p 
          span.strong Act fast
          |  because once we hit maximum capacity of 7 billion Co-CEOs, I will no longer be able to accept applications.
        p.spacing See you in the boardroom!
        .horizontal.spacing
          .profile-picture.spacing-small
          .vertical
            p.br.strong Louis Barclay
            p.br Founder of Nudge
            p louis@nudgeware.io
  script(src="../../config.js")
  script(src="../../js/background/storage.js")
  script(src="../../js/helpers.js")