html
  head
    title You're all done!
    link(rel="stylesheet" href="../../css/pages/onboarding.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap' rel='stylesheet')
    meta(charset="UTF-8")
  body
    .header.horizontal
      a.back#js-back
      div.logo-small
      div.forward
    .horizontal.centered
      .contents.headspace
        h1.spacing You're all done!
        p That's your set up completed. I hope Nudge makes your life a little bit better.
        .p-highlight.spacing
          p ⭐ To change your options at any time, right-click on the Nudge icon in the Chrome bar above, and select Options
        .horizontal.spacing
          .profile-picture.spacing-small
          .vertical
            p.br.strong Louis Barclay
            p.br Founder of Nudge
            p louis@nudgeware.io
        p P.S. Feel free to follow 
          a(href="https://twitter.com/nudgeextension" target="_blank") @nudgeextension
          |  on Twitter.
  script(src="../../config.js")
  script(src="../../js/helpers.js")
  script(src="../../js/option.js")