html
  head
    title Options
    link(rel="stylesheet", href="../../css/pages/main.css")
  body
    div.options-container
      div
        div.options-header
          div.options-logo
      div#welcome
      span.options-sub-header Welcome
        div.data-banner
          h1 Standard Nudge
        div.data-banner
          h1 News Feed destroyer