include ../../../node_modules/bemto.pug/bemto.pug
- 
  set_bemto_settings({
    prefix: {
      '': 'off-',
      'js-': true,
    }
  })

html
  head
    title Site off
    link(href="../../img/icon/nudgeoff32.png" rel="icon" type="image/png" sizes="32x32")
    link(href="../../img/icon/nudgeoff96.png" rel="icon" type="image/png" sizes="96x96")
    link(href="../../img/icon/nudgeoff16.png" rel="icon" type="image/png" sizes="16x16")
    link(rel="stylesheet" href="../../../css/pages/off.css")
    meta(charset="UTF-8")
  +b.BODY.text_globals.body(style="user-select:none")
    +b.settings#js-settings
    +b.banner(style="display: none;")#js-payment
      +b.banner-headline
        a(href="./support.html" target="_blank")
          +b.SPAN.banner-button Become Co-CEO of Nudge
      +b.banner-text Help keep Nudge going: join the senior leadership team for just $3 a month. Responsibilities: none. Perks: banners like this will be hidden.
      #error-message
    +b.donate
      +b.donate-container
        //- +b.donate-link
        //-   a(href="https://forms.gle/Epi26c6Eyd8aLnKX6" target="_blank")#js-survey Got two minutes? Want to help make Nudge better? Take the Nudge survey
        ul
        li
          form#mc-embedded-subscribe-form.validate(action='https://nudgeware.us5.list-manage.com/subscribe/post?u=8b0fe4a0d9e0cb9ac0d96db09&id=d3b4c5f9ac' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
            #mc_embed_signup_scroll
              +b.text-input.mc-field-group
                input#mce-EMAIL.required.email(type='email' value='' name='EMAIL' placeholder='Get Nudge updates' autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
              #mce-responses.clear
                #mce-error-response.response(style='display:none')
                #mce-success-response.response(style='display:none')
              div(style='position: absolute; left: -5000px;' aria-hidden='true')
                input(type='text' name='b_8b0fe4a0d9e0cb9ac0d96db09_d3b4c5f9ac' tabindex='-1' value='')
              .clear.options-subscribe-button-container(style="visibility: hidden; height: 0; padding: 0; margin: 0")
                input#mc-embedded-subscribe.options-subscribe-button.button(type='submit' value='Subscribe' name='subscribe')
      +b.signup-prompt#js-signup-prompt
        | If you'd like interesting and infrequent Nudge updates, type your email and hit 
        +b.SPAN.key ↵
    +b.IMG.background
    +b.IMG.background-enhanced#js-bg-image
    +b.CANVAS.blur#js-blur
    +b.container
      +b.logo-time-container
        +b.logo
        +b.H1.h1#js-time
      +b.goal
        +b.P.text_paragraph.text_shadow(style="opacity:0")#js-today-label Today:
        +b.horizontal(style="justify-content: flex-start; align-items: center")
          +b.INPUT.h2(spellcheck="false" placeholder="What do you want to do today?" size="1").highlight#js-goal
          .form-checkbox(style="display:none")#js-checkbox
            input#goal-check(type="checkbox")
            label(for="goal-check")
      +b.slider
        +b.button
          +b.button-centre
        +b.slider-text#js-stats Drag slider to switch on
    +b#js-width-test.highlight.h2(style="width: auto; position:absolute; visibility:hidden; white-space: pre; height: 0; margin: 50; padding: 0; bottom:50px; left: 0")
    script(src="../../js/vendor/moment.min.js")
    script(src="../../config.js")
    script(src="../../js/helpers.js")
    script(src="../../js/bgImages.js")
    script(src="../../js/off.js")