include ../../bemto/bemto.pug
- 
  set_bemto_settings({
    prefix: {
      '': 'off-',
      'js-': true,
    }
  })

html
  head
    title Site off
    link(href="../../img/icon/nudgeoff32.png" rel="icon" type="image/png" sizes="32x32")
    link(href="../../img/icon/nudgeoff96.png" rel="icon" type="image/png" sizes="96x96")
    link(href="../../img/icon/nudgeoff16.png" rel="icon" type="image/png" sizes="16x16")
    link(rel="stylesheet" href="../../css/pages/main.css")
    meta(charset="UTF-8")
  +b.BODY.text_globals.body
    +b.settings#js-settings
    +b.donate
      +b.donate-container
        //- +b.donate-link
        //-   a(href="https://forms.gle/Epi26c6Eyd8aLnKX6" target="_blank")#js-survey Got two minutes? Want to help make Nudge better? Take the Nudge survey
        ul
          li
            form#mc-embedded-subscribe-form.validate(action='https://nudgeware.us5.list-manage.com/subscribe/post?u=8b0fe4a0d9e0cb9ac0d96db09&id=d3b4c5f9ac' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
              #mc_embed_signup_scroll
                +b.text-input.mc-field-group
                  input#mce-EMAIL.required.email(type='email' value='' name='EMAIL' placeholder='First 7 billion newsletter subscribers get Nudge for free' autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false")
                #mce-responses.clear
                  #mce-error-response.response(style='display:none')
                  #mce-success-response.response(style='display:none')
                div(style='position: absolute; left: -5000px;' aria-hidden='true')
                  input(type='text' name='b_8b0fe4a0d9e0cb9ac0d96db09_d3b4c5f9ac' tabindex='-1' value='')
                .clear.options-subscribe-button-container(style="visibility: hidden; height: 0; padding: 0; margin: 0")
                  input#mc-embedded-subscribe.options-subscribe-button.button(type='submit' value='Subscribe' name='subscribe')
      +b.signup-prompt#js-signup-prompt
        | If you'd like interesting and infrequent Nudge updates, type your email and hit 
        +b.SPAN.key ↵
    +b.IMG.background
    +b.IMG.background-enhanced#js-bg-image
    +b.CANVAS.blur#js-blur
    +b.container
      +b.logo 
      +b.H1.headline.text_shadow
        if normal
          | Nice one! You switched
          +b.SPAN.highlight.js-domain facebook.com
          | off
          +b.P.text_paragraph.text_shadow
            | Tip: hit
            +b.SPAN.key Alt
            | +
            +b.SPAN.key &darr;
            | on Windows or
            +b.SPAN.key &#8997
            | +
            +b.SPAN.key &darr;
            | on Mac to switch off easily
        else if compulsive
          | You left
          +b.SPAN.highlight.js-domain facebook.com
          |  less than 
          +b.SPAN.highlight.js-time 5 minutes
          |  ago
        else if bydefault
          +b.SPAN#js-headline
            +b.SPAN.highlight.js-domain facebook.com
            | is off
          //- +b.P.text_paragraph.text_shadow#js-tip
          //-   | Go to Options 
          //-   |   (
          //-   +b.settings.cog-small#js-settings2
          //-   | ) to remove 
          //-   +b.SPAN.js-domain this site
          //-   |  from your Nudge sites or change off by default
          +b.P.text_paragraph.text_shadow#js-stats
      +b.slider
        +b.button
          +b.button-centre
        +b.slider-text Drag slider to switch on
    script(src="../../js/vendor/moment.min.js")
    script(src="../../config.js")
    script(src="../../js/helpers.js")
    script(src="../../js/bgImages.js")
    script(src="../../js/off.js")

      //-     +b.P.text_paragraph.text_shadow
      //-   | We do this to help you avoid getting sucked in. To continue to the Nudge site, please drag the slider below.
      //- +b.P.text_paragraph.text_shadow
      //-   | You've gone 
      //-   | without visiting
      //-   span.js-domain
      //-   | That's pretty cool. To keep your record going, do this.
      //- +b.P.text_paragraph.text_shadow
      //-   | If this is too much, you can either 
      //-   +b.SPAN.underline remove facebook.com from your Nudge sites
      //-   |  or 
      //-   +b.SPAN.underline stop Nudge switching sites off by default
      //-   | .