html
  head
    title
    link(rel="stylesheet" href="/css/pages/popup.css")
  body.popup-body
    div.popup-container
      div.time-headline#time-headline
      div#logo.hide
      div#domain-line
        div#on on
        div.domain#domain
        div#today today
      div#button-container
        button.popup-button#snooze Snooze for 
          span#snooze-time
          span  minutes  
        div#notice
          div#refresh.hide Refresh for snooze to kick in
      div#extras-line
        a(href="#")#dont-nudge Don't nudge this site
        a(href="#")#reset-hide Reset hidden sections
        a(href="#")#options Settings
    script(src="../../config.js")
    script(src="../../js/helpers.js")
    script(src="../../js/vars/divs.js")
    script(src="../../js/vars/vars.js")
    script(src="../../js/vendor/moment.min.js")    
    script(src="../../js/popup.js")