html
  head
    title Support Nudge by sharing
    link(rel="stylesheet" href="../../css/pages/onboarding.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap' rel='stylesheet')
    meta(charset="UTF-8")
  body
    .header.horizontal
      a.back#js-back
      div.logo-small
      div.forward
    .horizontal.centered
      .contents.headspace
        h1.spacing Support Nudge by sharing
        p If you...
        ul.bullets
          li Share Nudge (
            span.strong https://nudgeware.io
            | ) with 10 friends over email
          li Put 
            span.strong share@nudgeware.io
            |  in CC or BCC
        p ...I'll reply to you with a magic link that will remove the Support banners from Nudge.
        p.spacing You'll also be 
          a(href="./coceo.html" target="_blank") appointed Co-CEO of Nudge
          | , a position which comes with absolutely no responsibilities but looks good on LinkedIn.
        .horizontal.spacing
          .profile-picture.spacing-small
          .vertical
            p.br.strong Louis Barclay
            p.br Founder of Nudge
            p louis@nudgeware.io
  script(src="../../config.js")
  script(src="../../js/background/storage.js")
  script(src="../../js/helpers.js")