html
  head
    title Choose sites
    link(rel="stylesheet" href="../../css/pages/onboarding.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap' rel='stylesheet')
    meta(charset="UTF-8")
  body
    .header.horizontal
      a.back#js-back 🠐 Choose Sites
      div.logo-small
      div.forward
    .horizontal.centered
      #off_by_default.contents.headspace
        h1 Choose Sites
        p Add the sites you'd like Nudge to work on. Don't go crazy – stick to the sites that suck you in the most.
        input#js-add(type='text' placeholder='Add a site').spacing-small
        div.spacing
          span.tooltip  (In format 
            span.highlight site.com
            | , 
            span.highlight  partof.site.com
            |  or 
            span.highlight site.com/page
            | )
        ul.tags#js-domainlist
        a.spacing.sublink Remove all sites
        a.spacing-small.sublink#js-whitelist-toggle Choose whitelist sites
        .vertical#js-whitelist-container
          input#js-whitelistadd(type='text' placeholder='Add a site').spacing-small
          div.spacing
            span.tooltip  (In format 
              span.highlight site.com
              | , 
              span.highlight  partof.site.com
              |  or 
              span.highlight site.com/page
              | )
          ul.tags.spacing#js-whitelist
        .horizontal.onboarding-bar.spacing.full-width
          button.primary.pink#js-next Next: Choose Features
        //- button.popup-button Turn the Defaulter on
    .horizontal.centered.onboarding-preview
      .left
      .center.contents
        h1 Recommended sites
        div
          h2 Top 10 sites:
          ul.tags.inverted#js-toplist
        div
          h2 Social sites:
          ul.tags.inverted#js-sociallist
        div
          h2 Email and messaging sites:
          ul.tags.inverted#js-messaginglist
        div
          h2 News sites:
          ul.tags.inverted#js-newslist
        div
          h2 Shopping sites:
          ul.tags.inverted#js-shoppinglist
      .right


  script(src="../../config.js")
  script(src="../../js/background/storage.js")
  script(src="../../js/helpers.js")
  script(src="../../js/vars/vars.js")
  script(src="../../js/option.js")
  script(src="../../js/sites.js")