html
  head
    title Defaulter
    link(rel="stylesheet" href="../../css/pages/onboarding.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap' rel='stylesheet')
    meta(charset="UTF-8")
  body
    .header.horizontal
      a.back#js-back 🠐 Choose Sites
      div.logo-small
      div.forward
    .horizontal.centered
      #off_by_default.contents
        h1 Choose Sites
        p Choose the sites.
        input#addDomain(type='text' placeholder='Add a site').spacing-small
        div.spacing
          span.secondary  (In format 
            span.highlight site.com
            | , 
            span.highlight  partof.site.com
            |  or 
            span.highlight site.com/page
            | )
        ul.tags.spacing
          li facebook.com
          li youtube.com
          li gmail.com
          li bbc.com
          li outlook.com
          li random.com
          li morestuff.com
        .horizontal.onboarding-bar.spacing.full-width
          button.primary.pink#js-next Next: Choose Features
        //- button.popup-button Turn the Defaulter on
    .horizontal.centered.onboarding-preview
      .left
      .center
        h2 Recommended sites
        ul.tags.inverted
          li facebook.com
          li youtube.com
          li gmail.com
          li bbc.com
          li outlook.com
          li random.com
          li morestuff.com
      .right


  script(src="../../config.js")
  script(src="../../js/background/storage.js")
  script(src="../../js/helpers.js")
  script(src="../../js/vars/vars.js")
  script(src="../../js/option.js")
  script(src="../../js/sites.js")