html
  head
    title Welcome to Nudge
    link(rel="stylesheet" href="../../css/pages/main.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap' rel='stylesheet')
    meta(charset="UTF-8")
  body
    div.options-container
      div
        div.options-header
          div.options-logo
      div#welcome
      div.options-main-header Welcome to Nudge
      div The best way for you to get set up with Nudge is to follow this short wizard. It'll take around 2 minutes.
      div First things first. Let's choose the sites that Nudge will work on.
      a(href="./sites.html")
        button Choose Nudge sites
  script(src="../../config.js")
  script(src="../../js/background/storage.js")
  script(src="../../js/helpers.js")
  script(src="../../js/vars/vars.js")
  script(src="../../js/help_out.js")