html
  head
    title Become Co-CEO of Nudge
    link(rel="stylesheet" href="../../css/pages/onboarding.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap' rel='stylesheet')
    meta(charset="UTF-8")
  body
    .header.horizontal
      a.back#js-back
      div.logo-small
      div.forward
    .horizontal.centered
      .contents.headspace
        h1.spacing Become Co-CEO of Nudge
        p Hi! My name's Louis and I'm the founder of Nudge.
        p I'm at a crunch point where I need your support to keep Nudge going.
        p The best way you can support me is by joining Nudge's senior leadership team as Co-CEO.
        p It costs just $3 a month, and don't worry: it comes with absolutely no responsibilities. 
        p As a perk, 
          span.strong the support banners in Nudge will be hidden.
        p.spacing-m
          a(href="./coceo.html" target="_blank") Read more about the role here
          | , or simply pay:
        .horizontal.spacing-m
          a.spacing-small(href="https://nudgeware.io/pay" target="_blank")#js-pay-button
            button.support-cta.support-cta-blue Become Co-CEO of Nudge for $3 a month
        p.spacing Thank you so much.
        .horizontal.spacing
          .profile-picture.spacing-small
          .vertical
            p.br.strong Louis Barclay
            p.br Founder of Nudge
            p louis@nudgeware.io
  script(src="../../config.js")
  script(src="../../js/background/storage.js")
  script(src="../../js/helpers.js")
  script(src="../../js/support.js")