html
  head
    title What's new in Nudge
    link(rel="stylesheet" href="../../css/pages/onboarding.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap' rel='stylesheet')
    meta(charset="UTF-8")
  body
    .header.horizontal
      a.back#js-back
      div.logo-small
      div.forward
    .horizontal.centered
      .contents.headspace
        h1.spacing What's new in Nudge
        h2 1. Add your daily goal
        p The slider page now asks the simple question 'What do you want to do today?'.
        p.spacing-m Click on it and you'll be able to put in your daily goal, which will reset at midnight.
        img(src="../../img/preview/goal.gif").preview-image.spacing-m
        p This is inspired by your suggestions that Nudge should help nudge you towards good stuff, not just away from bad stuff.
        .p-highlight
          p ⭐ Tip: the goal doesn't have to be work-related. 'Go for a walk at lunchtime' could make you happier than 'Reply to boss's passive aggressive email'!
        h2 2. You can now schedule Nudge
        p The new 
          a(href="./scheduler.html#options" target="_blank") Scheduler
          |  feature lets you set up active times and active days for Nudge.
        p Thanks to the users who suggested this!
        h2 3. YouTube Autoplay Stopper
        p Nudge now includes a new feature, the 
          a(href="./youtubeautoplaystopper.html#options" target="_blank") YouTube Autoplay Stopper
          | .
        p Enable it 
          a(href="./youtubeautoplaystopper.html#options" target="_blank") here
          |  and you'll no longer be sucked into a downward spiral of YouTube recommended videos.
        h2 4. Asking you to become Co-CEO
        p I've simplified supporting Nudge.
        p Now, I have just one ask: 
          a(href="./support.html" target="_blank") become Co-CEO of Nudge
          | .
        p In addition to the huge boost to your career, support banners in Nudge will be hidden.
        p Becoming Co-CEO costs $3 a month.
        p That's a bargain if you think about the kudos you'll get on LinkedIn for breaking into senior management at a sexy tech startup.
        p You can read more, and sign up, 
          a(href="./support.html" target="_blank") here
          | .
        h2 5. Many bugs fixed
        p.spacing As always, I've been fixing as many bugs as possible. You can report bugs 
          a(href="https://github.com/lgwb89/nudge/issues" target="_blank") here on GitHub
          | .
        p All these new features are in beta so please do give feedback on my email address (below).
        p Also, feel free to join the Nudge mailing list here:
        form#mc-embedded-subscribe-form.validate(action='https://nudgeware.us5.list-manage.com/subscribe/post?u=8b0fe4a0d9e0cb9ac0d96db09&id=d3b4c5f9ac' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='').spacing
          #mc_embed_signup_scroll
            .mc-field-group
              input#mce-EMAIL.required.email(type='email' value='' name='EMAIL' placeholder='nudgeiscool@greatextension.com' autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" size="40")
            #mce-responses.clear
              #mce-error-response.response(style='display:none')
              #mce-success-response.response(style='display:none')
            div(style='position: absolute; left: -5000px;' aria-hidden='true')
              input(type='text' name='b_8b0fe4a0d9e0cb9ac0d96db09_d3b4c5f9ac' tabindex='-1' value='')
            .clear.options-subscribe-button-container(style="visibility: hidden; height: 0; padding: 0; margin: 0")
              input#mc-embedded-subscribe.options-subscribe-button.button(type='submit' value='Subscribe' name='subscribe')
        p.spacing Thanks for reading!
        .horizontal.spacing
          .profile-picture.spacing-small
          .vertical
            p.br.strong Louis Barclay
            p.br Founder of Nudge
            p louis@nudgeware.io
  script(src="../../config.js")
  script(src="../../js/background/storage.js")
  script(src="../../js/helpers.js")
  script(src="../../js/support.js")