include ../../bemto/bemto.pug
- 
  set_bemto_settings({
    prefix: {
      '': 'walkthrough-',
      'js-': true,
    }
  })

html
  head
    title Welcome to Nudge
    link(rel="stylesheet", href="../../css/pages/main.css")
  +b.BODY.text_globals.body
    +b.settings#js-settings
    +b.donate
      //- | Want to support Nudge 
      //- +b.SPAN and 
      //- | boost your boring career at the same time? 
      +b.A.donate-link(href="https://bit.ly/2NtEdxG" target='_blank') Like Nudge? Donate $1 a month and we'll make you our co-CEO
    +b.IMG.background
    +b.IMG.background-enhanced#js-bg-image
    +b.CANVAS.blur#js-blur
    +b.container
      +b.logo 
      +b.H1.headline.text_shadow
        | Welcome to Nudge
        +b.P.text_paragraph.text_shadow
          | This short walkthrough will show you what Nudge does, and let you choose settings that suit you
      //- +b.slider
      //-   +b.button
      //-     +b.button-centre
      //-   +b.slider-text Drag slider to switch back on
    script(src="../../js/vendor/moment.min.js")
    script(src="../../js/vendor/blur1.js")
    script(src="../../js/helpers.js")
    script(src="../../js/bgImages.js")
    script(src="../../js/off.js")

          //-     +b.P.text_paragraph.text_shadow
          //-   | We do this to help you avoid getting sucked in. To continue to the Nudge site, please drag the slider below.
          //- +b.P.text_paragraph.text_shadow
          //-   | You've gone 
          //-   | without visiting
          //-   span.js-domain
          //-   | That's pretty cool. To keep your record going, do this.
          //- +b.P.text_paragraph.text_shadow
          //-   | If this is too much, you can either 
          //-   +b.SPAN.underline remove facebook.com from your Nudge sites
          //-   |  or 
          //-   +b.SPAN.underline stop Nudge switching sites off by default
          //-   | .