div.data-banner
  h1 Welcome to Nudge
  div.data-text
    p My name's Louis and I'm the founder of Nudge &mdash; I hope it makes your life a little bit better.
    p I take your privacy extremely seriously. Nudge tracks anonymised data, which I need to make it work better. I can't see any specific URLs or content that you look at, any of your activity other than on Nudge sites, or anything that identifies you to me. But I can see time spent on Nudge sites, and usage of Nudge features.
    div.boolean(id='share_data2')
      div
      button.toggle
        div.left.on That's OK with me
        div.right I'd prefer not to share anonymised data
    p P.S. Feel free to share Nudge (
      a(href="http://nudgeware.io" target='_blank') nudgeware.io
      | ) or give me your feedback on 
      a(href="mailto:lou@nudgeware.io?Subject=Nudge%20feedback" target='_blank') feedback@nudgeware.io