html
  head
    title YouTube Autoplay Stopper
    link(rel="stylesheet" href="../../css/pages/onboarding.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap' rel='stylesheet')
    meta(charset="UTF-8")
  body
    .header.horizontal
      a.back#js-back ← Choose Sites
      div.logo-small
      div.forward
    .horizontal.centered
      #stop_autoplay.contents.headspace
        h1 YouTube Autoplay Stopper
        button.toggle.spacing
          div.left.on
          div.right
        p The YouTube Autoplay Stopper does what it says on the tin: it stops a new video from playing automatically on your YouTube after you finish watching the one you intended to.
        .p-highlight.spacing
          p ⭐ The YouTube Autoplay Stopper works even if you don't have youtube.com in your Nudge sites.
        .p-highlight.spacing
          p ⚠️ Due to YouTube's code changing over time, and different code being shown to different users, the YouTube Autoplay Stopper may not always work.
        #js-onboarding.full-width
          .horizontal.onboarding-bar.spacing.full-width
            button.primary#js-onboarding-enable Enable the YouTube Autoplay Stopper
            button.secondary#js-onboarding-skip Skip this feature
          .horizontal.onboarding-bar.spacing.full-width(style="display:none")
            button.primary.pink#js-next Next: Hider
    .horizontal.centered.onboarding-preview
      .left
      .center
        img(src="../../img/preview/stop_autoplay.gif").preview-image
      .right


  script(src="../../config.js")
  script(src="../../js/background/storage.js")
  script(src="../../js/helpers.js")
  script(src="../../js/vars/vars.js")
  script(src="../../js/options/option.js")