html
  head
    title
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans")
    link(rel="stylesheet" href="../../css/injected/facebook.css")
  body
    div.facebook-playground-container
      div#pagelet_composer
        include ../injected/facebook/intro
    div.facebook-playground-container
      div#pagelet_composer
        include ../injected/facebook/intro_v2
    div.facebook-playground-container
      div#pagelet_composer
        include ../injected/facebook/confirm
    div.facebook-playground-container
      div#pagelet_composer
        include ../injected/facebook/run
    div.facebook-playground-container
      div#pagelet_composer
        //- include ../injected/facebook/share_v2
    div.facebook-playground-container
      div#pagelet_composer
        include ../injected/facebook/share
    div.facebook-playground-container
      div#pagelet_composer
        include ../injected/facebook/more