html
  head
    title
    link(rel="stylesheet", href="../css/injected/nudges.css")
  body.body-reset
    div#buttons
      button.one Hey
      button.two What's
      button.three Up
    div#nudge
      include ../injected/nudge/corner
  script(src="../../js/helpers.js")
  script(src="../../js/nudges.js")