.jewelCount {
  display: none;
  visibility: hidden; }

._3nzl a.jewelButton ._2n_9 {
  background: none;
  opacity: .6; }

._4xi2 a.jewelButton ._2n_9 {
  background: none;
  opacity: .6; }

._330i._1z4y a.jewelButton ._2n_9 {
  background: none;
  opacity: .6; }

._4xi2._5orm a.jewelButton ._2n_9 {
  background: none;
  opacity: .6; }

._5v-0 ._53il {
  display: none; }

._1ijl {
  display: none;
  background: none; }
