@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 0 0 #61a7ff; }
  70% {
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }

@keyframes pulse-shadow--collection {
  0% {
    box-shadow: 0 0; }
  70% {
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }

@keyframes pulse-shadow--onboarding {
  0% {
    box-shadow: 0 0 0 0 #61a7ff; }
  30% {
    box-shadow: 0 0 0 0 #61a7ff; }
  80% {
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); } }

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("chrome-extension://__MSG_@@extension_id__/fonts/OpenSans.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

@keyframes background-move {
  0% {
    background-position: 17% 0%; }
  50% {
    background-position: 84% 100%; }
  100% {
    background-position: 17% 0%; } }

#nudge-scroll *, #nudge * {
  border: 0;
  bottom: initial;
  box-sizing: content-box;
  font: inherit;
  font-size: 100%;
  font-family: inherit;
  left: initial;
  margin: 0;
  padding: 0;
  position: initial;
  right: initial;
  top: initial;
  vertical-align: baseline;
  display: initial; }
  #nudge-scroll * ::before, #nudge * ::before, #nudge-scroll * ::after, #nudge * ::after {
    border: 0;
    bottom: initial;
    box-sizing: content-box;
    font: inherit;
    font-size: 100%;
    font-family: inherit;
    left: initial;
    margin: 0;
    padding: 0;
    position: initial;
    right: initial;
    top: initial;
    vertical-align: baseline;
    display: initial; }

#nudge-scroll .nudge-scroll-container *, #nudge .nudge-container * {
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: normal; }

#nudge-scroll .nudge-scroll-container a, #nudge .nudge-container a {
  cursor: pointer;
  text-decoration: none;
  color: initial; }
  #nudge-scroll .nudge-scroll-container a:hover, #nudge .nudge-container a:hover {
    color: #ff61a7; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.body-reset {
  margin: 0; }

#nudge-scroll {
  display: block; }
  #nudge-scroll .nudge-scroll-container {
    opacity: 0;
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    pointer-events: none; }
  #nudge-scroll .nudge-scroll-show {
    animation: fadeIn 0.6s forwards; }
  #nudge-scroll .nudge-scroll-hide {
    animation: fadeOut 0.3s forwards; }
  #nudge-scroll .nudge-scroll-show-display {
    display: flex; }
  #nudge-scroll .nudge-scroll-position {
    z-index: 2147483647;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    align-items: center;
    justify-content: center; }
  #nudge-scroll .nudge-scroll-display {
    height: auto;
    width: auto;
    padding: 1em 2em 1em 2em;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    border-radius: 4em;
    cursor: default;
    background: #ededed;
    color: #6d6d6d;
    text-align: center;
    flex-direction: column; }
  #nudge-scroll .nudge-scroll-value {
    font-size: 18px;
    margin-bottom: 0.5em; }
  #nudge-scroll .nudge-scroll-menu_item {
    height: 100%;
    font-size: 12px;
    z-index: 1; }
  #nudge-scroll .nudge-scroll-container-reveal {
    display: flex; }

#nudge {
  display: block; }
  #nudge #nudge-quarter-21 {
    z-index: 0;
    background: linear-gradient(145deg, #B282D1 0%, #61a7ff 33.33333%);
    width: 2100px;
    height: 2100px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-21 {
    z-index: 0;
    background-color: #B282D1;
    right: 2104px; }
  #nudge #nudge-quarter-20 {
    z-index: 1;
    background: linear-gradient(145deg, #998DDF 0%, #61a7ff 25%);
    width: 2000px;
    height: 2000px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-20 {
    z-index: 1;
    background-color: #998DDF;
    right: 2004px; }
  #nudge #nudge-quarter-19 {
    z-index: 2;
    background: linear-gradient(145deg, #8099ED 0%, #61a7ff 14.28571%);
    width: 1900px;
    height: 1900px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-19 {
    z-index: 2;
    background-color: #8099ED;
    right: 1904px; }
  #nudge #nudge-quarter-18 {
    z-index: 3;
    background: linear-gradient(145deg, #FF61A7 0%, #61a7ff 50%);
    width: 1800px;
    height: 1800px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-18 {
    z-index: 3;
    background-color: #FF61A7;
    right: 1804px; }
  #nudge #nudge-quarter-17 {
    z-index: 4;
    background: linear-gradient(145deg, #E56CB5 0%, #61a7ff 45.45455%);
    width: 1700px;
    height: 1700px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-17 {
    z-index: 4;
    background-color: #E56CB5;
    right: 1704px; }
  #nudge #nudge-quarter-16 {
    z-index: 5;
    background: linear-gradient(145deg, #CC77C3 0%, #61a7ff 40%);
    width: 1600px;
    height: 1600px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-16 {
    z-index: 5;
    background-color: #CC77C3;
    right: 1604px; }
  #nudge #nudge-quarter-15 {
    z-index: 6;
    background: linear-gradient(145deg, #B282D1 0%, #61a7ff 33.33333%);
    width: 1500px;
    height: 1500px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-15 {
    z-index: 6;
    background-color: #B282D1;
    right: 1504px; }
  #nudge #nudge-quarter-14 {
    z-index: 7;
    background: linear-gradient(145deg, #998DDF 0%, #61a7ff 25%);
    width: 1400px;
    height: 1400px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-14 {
    z-index: 7;
    background-color: #998DDF;
    right: 1404px; }
  #nudge #nudge-quarter-13 {
    z-index: 8;
    background: linear-gradient(145deg, #8099ED 0%, #61a7ff 14.28571%);
    width: 1300px;
    height: 1300px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-13 {
    z-index: 8;
    background-color: #8099ED;
    right: 1304px; }
  #nudge #nudge-quarter-12 {
    z-index: 9;
    background: linear-gradient(145deg, #FF61A7 0%, #61a7ff 50%);
    width: 1200px;
    height: 1200px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-12 {
    z-index: 9;
    background-color: #FF61A7;
    right: 1204px; }
  #nudge #nudge-quarter-11 {
    z-index: 10;
    background: linear-gradient(145deg, #E56CB5 0%, #61a7ff 45.45455%);
    width: 1100px;
    height: 1100px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-11 {
    z-index: 10;
    background-color: #E56CB5;
    right: 1104px; }
  #nudge #nudge-quarter-10 {
    z-index: 11;
    background: linear-gradient(145deg, #CC77C3 0%, #61a7ff 40%);
    width: 1000px;
    height: 1000px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-10 {
    z-index: 11;
    background-color: #CC77C3;
    right: 1004px; }
  #nudge #nudge-quarter-9 {
    z-index: 12;
    background: linear-gradient(145deg, #B282D1 0%, #61a7ff 33.33333%);
    width: 900px;
    height: 900px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-9 {
    z-index: 12;
    background-color: #B282D1;
    right: 904px; }
  #nudge #nudge-quarter-8 {
    z-index: 13;
    background: linear-gradient(145deg, #998DDF 0%, #61a7ff 25%);
    width: 800px;
    height: 800px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-8 {
    z-index: 13;
    background-color: #998DDF;
    right: 804px; }
  #nudge #nudge-quarter-7 {
    z-index: 14;
    background: linear-gradient(145deg, #8099ED 0%, #61a7ff 14.28571%);
    width: 700px;
    height: 700px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-7 {
    z-index: 14;
    background-color: #8099ED;
    right: 704px; }
  #nudge #nudge-quarter-6 {
    z-index: 15;
    background: linear-gradient(145deg, #FF61A7 0%, #61a7ff 100%);
    width: 600px;
    height: 600px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-6 {
    z-index: 15;
    background-color: #FF61A7;
    right: 604px; }
  #nudge #nudge-quarter-5 {
    z-index: 16;
    background: linear-gradient(145deg, #E56CB5 0%, #61a7ff 100%);
    width: 500px;
    height: 500px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-5 {
    z-index: 16;
    background-color: #E56CB5;
    right: 504px; }
  #nudge #nudge-quarter-4 {
    z-index: 17;
    background: linear-gradient(145deg, #CC77C3 0%, #61a7ff 100%);
    width: 400px;
    height: 400px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-4 {
    z-index: 17;
    background-color: #CC77C3;
    right: 404px; }
  #nudge #nudge-quarter-3 {
    z-index: 18;
    background: linear-gradient(145deg, #B282D1 0%, #61a7ff 100%);
    width: 300px;
    height: 300px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-3 {
    z-index: 18;
    background-color: #B282D1;
    right: 304px; }
  #nudge #nudge-quarter-2 {
    z-index: 19;
    background: linear-gradient(145deg, #998DDF 0%, #61a7ff 100%);
    width: 200px;
    height: 200px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-2 {
    z-index: 19;
    background-color: #998DDF;
    right: 204px; }
  #nudge #nudge-quarter-1 {
    z-index: 20;
    background: linear-gradient(145deg, #8099ED 0%, #61a7ff 100%);
    width: 100px;
    height: 100px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 30s; }
  #nudge #nudge-quarter-label-1 {
    z-index: 20;
    background-color: #8099ED;
    right: 104px; }
  #nudge .nudge-quarters {
    opacity: 0;
    position: fixed;
    z-index: -1; }
  #nudge .nudge-quarter {
    opacity: 0;
    display: block;
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    border-radius: 100% 0 0 0;
    border-style: solid;
    border-right-style: none;
    border-bottom-style: none; }
  #nudge .nudge-rounded {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px; }
  #nudge .nudge-translucent {
    backface-visibility: hidden;
    perspective: 1000;
    background: rgba(255, 255, 255, 0.95);
    opacity: 1;
    box-shadow: 0px 0px 16px 0.5px rgba(0, 0, 0, 0.14); }
  #nudge .nudge-rounded_no_border {
    border: 1px none #bdbdbd;
    border-radius: 4px; }
  #nudge .nudge-transparent_grey {
    background: rgba(0, 0, 0, 0.1); }
  #nudge .nudge-transparent_white {
    background: rgba(255, 255, 255, 0.8); }
  #nudge .nudge-text_align p {
    padding: 0 0 .1em 0;
    align-self: center; }
  #nudge .nudge-container {
    display: none;
    position: fixed;
    flex-direction: row;
    align-items: baseline;
    justify-content: center; }
  #nudge .nudge-container-reveal {
    display: flex; }
  #nudge .nudge-quarter-label {
    bottom: -3px;
    position: absolute;
    width: auto;
    font-size: 12px;
    padding: 0em .3em .3em .3em;
    color: #ffffff;
    opacity: 0;
    border: 1px none #bdbdbd;
    border-radius: 4px;
    position: fixed; }
  #nudge .nudge-banner {
    font-size: 17px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 2147483646; }
  #nudge .nudge-top {
    width: auto;
    size: auto;
    position: relative;
    transition: opacity 6s;
    animation: fadeIn 4s forwards !important; }
  #nudge .nudge-control_position {
    z-index: 2147483647;
    bottom: 0px;
    right: 0;
    pointer-events: none; }
  #nudge .nudge-control_flex_direction {
    flex-direction: column; }
  #nudge .nudge-control_font_size {
    font-size: 16px; }
  #nudge .nudge-scroll_position {
    z-index: 2147483647;
    bottom: 0px;
    left: 0;
    pointer-events: none; }
  #nudge .nudge-scroll_flex_direction {
    flex-direction: row; }
  #nudge .nudge-scroll {
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 100px;
    height: 100px;
    background: red; }
  #nudge .nudge-intro {
    animation: fade-in 0.5s forwards; }
  #nudge .nudge-outro {
    animation: fade-out 0.5s forwards; }
  #nudge .nudge-menu_position {
    bottom: 4.6em;
    right: 0;
    height: auto;
    margin-right: 5px;
    padding-top: 1em;
    padding-left: 4em;
    width: auto;
    position: fixed; }
  #nudge .nudge-menu {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    display: none;
    pointer-events: auto;
    align-items: flex-end; }
  #nudge .nudge-menu_item {
    border: 1px none #bdbdbd;
    border-radius: 4px;
    background: #ffffff;
    opacity: 0.9;
    color: #6d6d6d;
    padding: 0.2em 0.6em 0.3em 0.6em;
    position: fixed;
    right: 75px;
    width: auto;
    cursor: pointer;
    font-size: 12px;
    z-index: 1;
    display: none; }
  #nudge .nudge-visits_value {
    font-size: 12px;
    color: #ffffff; }
  #nudge .nudge-minutes_value {
    font-size: 18px;
    color: #ffffff; }
  #nudge .nudge-time {
    font-size: 1em;
    display: none;
    color: #6d6d6d;
    position: absolute;
    right: 80px;
    bottom: 0;
    z-index: -1; }
  #nudge .nudge-menu_circle {
    width: 4em;
    height: 4em;
    display: flex;
    align-items: center;
    margin-top: 0.3em;
    justify-content: center;
    cursor: pointer;
    border-radius: 100%; }
    #nudge .nudge-menu_circle:hover .nudge-menu_item {
      display: block; }
  #nudge .nudge-menu_close {
    background: url("chrome-extension://__MSG_@@extension_id__/img/icon/logo-color.svg") center center/2em no-repeat #ffffff; }
    #nudge .nudge-menu_close:hover {
      background: #ff61a7 url("chrome-extension://__MSG_@@extension_id__/img/icon/closewhite.svg") center center/2em no-repeat; }
  #nudge .nudge-menu_hide {
    background: url("chrome-extension://__MSG_@@extension_id__/img/icon/hidegreynew.svg") center center/2em no-repeat #ffffff; }
    #nudge .nudge-menu_hide:hover {
      background: #ff61a7 url("chrome-extension://__MSG_@@extension_id__/img/icon/hidewhitenew.svg") center center/2em no-repeat; }
  #nudge .nudge-menu_settings {
    background: url("chrome-extension://__MSG_@@extension_id__/img/icon/newcoggrey.svg") center center/1.6em no-repeat #ffffff; }
    #nudge .nudge-menu_settings:hover {
      background: #ff61a7 url("chrome-extension://__MSG_@@extension_id__/img/icon/newcogwhite.svg") center center/1.6em no-repeat; }
  #nudge .nudge-menu_time {
    color: #ffffff;
    opacity: 0.8;
    border-radius: 18px;
    cursor: default;
    background: #61a7ff; }
  #nudge .nudge-corner {
    display: flex;
    position: absolute;
    width: auto;
    height: auto;
    bottom: 5px;
    right: 5px;
    margin: 0;
    align-items: center;
    pointer-events: auto;
    z-index: 2147483647;
    user-select: none;
    overflow: hidden; }
    #nudge .nudge-corner:hover {
      padding-left: 4em; }
      #nudge .nudge-corner:hover > .nudge-menu {
        display: flex; }
      #nudge .nudge-corner:hover .nudge-time {
        display: flex; }
      #nudge .nudge-corner:hover ~ .nudge-quarters .nudge-quarter .nudge-quarter-label {
        opacity: 0.9; }
  #nudge .nudge-close {
    width: 0.8em;
    height: 0.8em;
    background: url("chrome-extension://__MSG_@@extension_id__/img/icon/closegrey.svg") center center/0.8em no-repeat;
    align-self: center;
    opacity: 0.3;
    cursor: pointer;
    margin-left: 1em; }
    #nudge .nudge-close:hover {
      opacity: 1; }
  #nudge .nudge-floating {
    position: absolute;
    bottom: 5px;
    left: 5px; }
  #nudge .nudge-highlight_margin {
    margin-left: 0.3em;
    margin-right: 0.3em; }
  #nudge .nudge-switch {
    opacity: 1;
    width: 2.25em;
    height: 2.25em;
    background: url("chrome-extension://__MSG_@@extension_id__/img/icon/offswitch.svg") center 0.25em/1.5em no-repeat #ff61a7;
    border-radius: 3em;
    position: absolute;
    bottom: 5px;
    right: 5px; }
    #nudge .nudge-switch:hover {
      background-color: #ededed; }
      #nudge .nudge-switch:hover::before {
        border-color: #bdbdbd; }
  #nudge .nudge-highlight {
    background: #bdbdbd;
    color: #ffffff;
    border: 1px none #bdbdbd;
    border-radius: 4px;
    padding: 0em .3em .1em .3em;
    align-self: center; }
  #nudge .nudge-small-highlight {
    background: #ededed;
    border: 1px none #bdbdbd;
    border-radius: 4px;
    padding: 0em .3em .1em .3em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-top: 0.1em;
    align-self: center; }
  #nudge .nudge-pink {
    background: #ff61a7; }
  #nudge .nudge-blue {
    background: #61a7ff; }
  #nudge .nudge-white {
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff; }
  #nudge .nudge-blue_transparent {
    background: rgba(97, 167, 255, 0.7); }
  #nudge .nudge-match_quarter {
    background: rgba(255, 255, 255, 0.2); }
  #nudge .nudge-transparent_icon {
    opacity: 0.7; }
  #nudge .nudge-favicon {
    animation: none;
    width: 32px;
    height: 32px;
    align-self: center;
    padding: 0;
    border: 1px none #bdbdbd;
    border-radius: 4px;
    margin-left: 0.3em;
    margin-right: 0.3em; }
  #nudge .nudge-scale {
    padding-left: 1em;
    text-indent: -1em; }
    #nudge .nudge-scale li {
      display: block;
      padding: 0 0 0 2em;
      font-size: 0.85714em;
      width: 1em;
      height: 1cm; }
      #nudge .nudge-scale li::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        background: blue;
        padding: 0.75em 0 0 0;
        width: 1em;
        border-bottom: 1px solid #bdbdbd; }
      #nudge .nudge-scale li::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        background: red;
        padding: 0.75em 0 0 0;
        width: 0.25em;
        border-bottom: 1px solid #bdbdbd; }
