include ../../bemto/bemto.pug
- 
  set_bemto_settings({
    prefix: {
      '': 'nudge-',
      'js-': true,
    }
  })

+b.container.control_position.control_flex_direction.control_font_size
  +b.top
    +b.quarter
    +b.switch
    +b.highlight.floating.pink Hide
  +b.corner.translucent.rounded.text_align
    +b.icon
    +b.highlight.blue#js-time 21m05s
    +b.highlight.pink#js-visits 21m05s
    p on 
    +b.highlight#js-domain facebook.com
    p today
    +b.close
  //- +b.switch

//- +b.container.banner.translucent.rounded.text_align
//-   p You know that
//-   +b.highlight this is a highlight
//-   p right?
//-   +b.close