div.nudge-wrapper
  div.nudge-container
    div.nudge-main
      p Last on
      div.nudge-favicon#nudge-favicon
      p just 
      div.nudge-highlight.nudge-pink#nudge-time 4m34
      p ago
      div.nudge-close#close-button
    div.nudge-menu
      div Don't nudge this site
      div Close all 
        span.nudge-highlight#nudge-domain of this site's 
        | tabs
      div#nudge-options Options