div#nudge-wrapper
  div#nudge-container
    div#nudge-main
      p Last on
      div#nudge-favicon
      p just 
      div#nudge-highlight 4m34
      p ago
    //- div#nudge-menu
    //-   div Don't nudge this site
    //-   div Pause
    //-   div Close all of this site. switch off and close all of it
    //-   div Settings
    //- div#nudge-switch