div.nudge-wrapper
  div.nudge-container#nudge-container
    div.nudge-main
      p Last on
      div.nudge-favicon#nudge-favicon
      p just 
      div.nudge-highlight.nudge-pink#nudge-time 4m34
      p ago
      div.nudge-close#close-button
    div.nudge-menu
      div#dont-nudge
        span#first-part Don't nudge 
        span.nudge-small-highlight#nudge-domain2 this site
      div#close-all Nuke all 
        span.nudge-small-highlight#nudge-domain of this site's 
        | tabs
      div#nudge-options Options