div.nudge-wrapper
  div.nudge-container
    div.nudge-main
      p Last on
      div.nudge-favicon
      p just 
      div.nudge-highlight 4m34
      p ago
    div.nudge-menu Don't nudge this site
    div.nudge-menu Pause
    div.nudge-menu Close all of this site
    div.nudge-menu Settings  
    div.nudge-switch
