div.nudge-wrapper
  div.nudge-container
    div.nudge-main
      div.nudge-highlight 19m47s
      p on
      div.nudge-favicon
      p today
    div.nudge-menu Don't nudge this site
    div.nudge-menu Pause
    div.nudge-menu Settings