div.nudge-wrapper
  div.nudge-container#nudge-container
    div.nudge-main
      div.nudge-highlight#nudge-time 19m47s
      p on
      div.nudge-favicon#nudge-favicon
      p today
      div.nudge-close#close-button
    div.nudge-menu
      div#dont-nudge
        span#first-part Don't nudge 
        span.nudge-small-highlight#nudge-domain2 this site
      div#close-all Nuke all 
        span.nudge-small-highlight#nudge-domain of this site's 
        | tabs
      div#nudge-options Options