div.nudge-wrapper
  div.nudge-container
    div.nudge-main
      div.nudge-highlight#nudge-time 19m47s
      p on
      div.nudge-favicon#nudge-favicon
      p today
      div.nudge-close#close-button
    div.nudge-menu
      div Don't nudge this site
      div Close all 
        span.nudge-highlight#nudge-domain of this site's 
        | tabs
      div#nudge-options Options