<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nudge | Chrome extension</title>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="/docs/img/logo.png">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <img class="logo" src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}
        
        <h1 class="title">{{ site.title | default: site.github.repository_name }}</h1>

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        
        <form action="https://bit.ly/2q7VE0K" method="get" target="_blank">
        <button>Add Nudge to Chrome</button>
        </form>
          
        <form class="validate" id="mc-embedded-subscribe-form" action="https://nudgeware.us5.list-manage.com/subscribe/post?u=8b0fe4a0d9e0cb9ac0d96db09&amp;id=d3b4c5f9ac" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
    <div id="mc_embed_signup_scroll">
        <div class="mc-field-group"><input class="required email" id="mce-EMAIL" type="email" value="" name="EMAIL" placeholder="Email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" /></div>
        <div class="clear" id="mce-responses">
            <div class="response" id="mce-error-response" style="display:none;"></div>
            <div class="response" id="mce-success-response" style="display:none;"></div>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8b0fe4a0d9e0cb9ac0d96db09_d3b4c5f9ac" tabindex="-1" value="" /></div>
        <div class="clear"><input class="button" id="mc-embedded-subscribe" type="submit" value="Subscribe" name="subscribe" /></div>
    </div>
</form>
        
        <p class="small">First 7 billion subscribers get Nudge for free</p>

        <div class="icon-container">
          <a href="https://medium.com/@louisbarclay" target="_blank">
            <img class="icon" src="/docs/img/medium.svg" />
          </a>
         
          <a href="https://github.com/lgwb89/nudge" target="_blank">
            <img class="icon" src="/docs/img/github.svg" />
          </a>
          
           <a href="https://www.linkedin.com/in/louis-b-51458a4/" target="_blank">
            <img class="icon" src="/docs/img/linkedin.svg" />
          </a>
          
        </div>
        
        <p class="small pink">Get in touch: louis [at] nudgeware [dot] io</p>
          
        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
