@keyframes pulse-shadow
  0%
    box-shadow: 0 0 0 0 $nudgeBlue

  70%
    box-shadow: 0 0 5px 10px rgba(255,255,255,0)

  100%
    box-shadow: 0 0 0 0 rgba(255,255,255,0)
  
@keyframes pulse-shadow--collection 
  0% 
    box-shadow: 0 0
  
  70% 
    box-shadow: 0 0 5px 10px rgba(255,255,255,0)
  
  100% 
    box-shadow: 0 0 0 0 rgba(255,255,255,0)
  
@keyframes pulse-shadow--onboarding 
  0% 
    box-shadow: 0 0 0 0 $nudgeBlue
  
  30% 
    box-shadow: 0 0 0 0 $nudgeBlue
  
  80% 
    box-shadow: 0 0 5px 10px rgba(255,255,255,0)
  
  100% 
    box-shadow: 0 0 0 0 rgba(255,255,255,0)
  