// Options

.options-container
  +container($left: 200px, $width: 600px)

.options-logo
  position: relative
  +size(100px)
  background: url('chrome-extension://__MSG_@@extension_id__/resources/images/logogrey.svg') 0/100px no-repeat

// Popup

.popup-body
  +size(300px)
  margin: 5px
  padding: 5px

.popup-container
  +container($left: 0, $width: 300px, $spacing: 5px)

  // This is for perfect centering
  >div
    margin: auto

// Nudges

.nudge-wrapper
  @extend %reset

.nudge-tl-container
  +container($left: 20px, $top: 20px, $width: auto, $spacing: 0.4em)
  height: auto
  animation: fade-in-left 0.3s

  >div
    align-self: flex-start

  .nudge-menu
    display: none
    animation: fade-in-left 0.3s

  .nudge-main
    display: flex


  &:hover
    >div
      opacity: 1
    
    .nudge-menu
      display: flex

    .nudge-highlight
      animation: none
      background: $nudgeBlue

.nudge-m-container
  @extend .nudge-tl-container
  top: 500px

.nudge-b-container
  @extend .nudge-tl-container
  top: 500px
  bottom: 100px
  width: 100%

.nudge-z-container
  @extend .nudge-tl-container
  top: 300px

.nudge-pulse
  animation: pulse-shadow--onboarding 2s infinite

.nudge-menu
  +border($style: none)
  +padding
  animation: none
  background: $nudgeLightestGrey
  cursor: pointer
  font-size: (13 / 14) * $default-font-size
  margin-bottom: 0
  opacity: 0
  vertical-align: middle

  &:hover
    background: $nudgeLightGrey
    color: $white

.nudge-main
  @extend .nudge-menu
  +border($color: $nudgeLightestGrey)
  +padding($left: 0)
  +left-icon($size: 1.2em)
  +hardware
  background: $white
  color: $nudgeDarkGrey
  font-size: (18/14) * $default-font-size
  margin-bottom: 0.5em
  opacity: 1

  &::before
    background: url('chrome-extension://dmhgdnbkjkejeddddlklojinngaideac/resources/images/logo.svg') center center/1.2em no-repeat
    border-right: $border-primary
    border-color: $nudgeLightestGrey
    margin-left: 0
    padding-right: 1em

  &:hover
    background-color: $nudgeLightestGrey

    &::before
      border-color: $nudgeLightGrey

.nudge-highlight
  background: $nudgeLightGrey
  color: $white
  +border($style: none)
  padding: 0em .3em .1em .3em
  margin-left: 0.3em
  margin-right: 0.3em
  animation: pulse-background 1s infinite
  transition: transform 2s ease

.nudge-favicon
  @extend .nudge-highlight
  background-color: $nudgePink
  animation: none
  height: 1.2em
  width: 0.7em
  align-self: center

.nudge-banner
  @extend .nudge-main
  +center
  bottom: 0

.nudge-scale
  padding-left: 1em
  text-indent: -1em

  li
    padding: 0 0 0 2em
    font-size: (6 / 7) * 1rem
    width: 1em
    height: 1cm

    &::before
      +pseudo
      left: 0
      padding: (3 / 4) * 1em 0 0 0
      width: 1em
      border-bottom: $border-primary

    &::after
      +pseudo
      left: 0
      padding: (3 / 4) * 1em 0 0 0
      width: 0.25em
      border-bottom: $border-primary