// Options

.options-container
  +container($left: 200px, $width: 600px)

.options-logo
  position: relative
  +size(100px)
  background: url('chrome-extension://__MSG_@@extension_id__/resources/images/logogrey.svg') 0/100px no-repeat

// Popup

.popup-body
  +size(300px)
  margin: 5px
  padding: 5px

.popup-container
  +container($left: 0, $width: 300px, $spacing: 5px)

  // This is for perfect centering
  >div
    margin: auto

// Nudges

.nudge-wrapper
  @extend %reset

.nudge-tl-container
  +container($left: 500px, $width: 300px, $spacing: 5px)

  >div
    align-self: flex-start

.nudge-m-container
  @extend .nudge-tl-container
  top: 500px

.nudge-b-container
  @extend .nudge-tl-container
  bottom: 100px
  width: 100%

.nudge-main
  +border($color: $nudgeLightestGrey)
  +padding
  display: inline-block
  align-self: flex-start
  color: $nudgeDarkGrey
  width: auto
  +left-icon($size: 1em, $inset: 1em)

.nudge-menu
  @extend .nudge-main
  font-size: (6 / 7) * 1rem
  background: $nudgeLightestGrey
  +border($style: none)

.nudge-top
  background: $nudgePink
  color: $light

.nudge-banner
  @extend .nudge-main
  +center
  bottom: 0

.nudge-scale
  padding-left: 1em
  text-indent: -1em

  li
    margin-top: 1cm
    padding: 0 0 0 2em
    font-size: (6 / 7) * 1rem
    width: 1em

    &::before
      +pseudo
      left: 0
      padding: (3 / 4) * 1em 0 0 0
      width: 2em
      border-bottom: $border-primary