@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@keyframes background-move {
  0% {
    background-position: 17% 0%; }
  50% {
    background-position: 84% 100%; }
  100% {
    background-position: 17% 0%; } }
body::before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #61a7ff;
  z-index: 110000; }
