@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("chrome-extension://__MSG_@@extension_id__/fonts/OpenSans.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

@keyframes background-move {
  0% {
    background-position: 17% 0%; }
  50% {
    background-position: 84% 100%; }
  100% {
    background-position: 17% 0%; } }

.call-out * {
  border: 0;
  bottom: initial;
  box-sizing: content-box;
  font: inherit;
  font-size: 100%;
  font-family: inherit;
  left: initial;
  margin: 0;
  padding: 0;
  position: initial;
  right: initial;
  top: initial;
  vertical-align: baseline;
  display: initial; }
  .call-out * ::before, .call-out * ::after {
    border: 0;
    bottom: initial;
    box-sizing: content-box;
    font: inherit;
    font-size: 100%;
    font-family: inherit;
    left: initial;
    margin: 0;
    padding: 0;
    position: initial;
    right: initial;
    top: initial;
    vertical-align: baseline;
    display: initial; }

body * {
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: normal; }

body a {
  cursor: pointer;
  text-decoration: none;
  color: initial; }
  body a:hover {
    color: #ff61a7; }

button, .popup-button {
  background: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  box-shadow: none;
  color: #bdbdbd;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  padding: 0.33333em 0.83333em 0.33333em 0.83333em; }
  button:hover, .popup-button:hover {
    box-shadow: none;
    color: #ffffff;
    border-color: transparent;
    background: #bdbdbd;
    box-shadow: none; }

button {
  border: 1px none #bdbdbd;
  border-radius: 4px;
  font-size: 1.125em;
  padding: 0.5em 1em 0.5em 1em;
  background: #ededed;
  color: #6d6d6d;
  font-family: 'Roboto', sans-serif;
  margin-bottom: none;
  user-select: none; }
  button:hover {
    background: #e8e8e8;
    color: #6d6d6d; }

.back {
  align-items: center;
  user-select: none; }

.onboarding-bar {
  justify-content: stretch;
  flex: 0 1 50px;
  white-space: nowrap; }
  .onboarding-bar .primary, .onboarding-bar .secondary {
    height: 3em;
    border-radius: 8px; }
  .onboarding-bar .primary {
    margin-right: 1em;
    background: #61a7ff;
    color: #ffffff;
    width: 100%; }
    .onboarding-bar .primary:hover {
      background: #57a1ff; }
  .onboarding-bar .secondary {
    width: 50%; }
  .onboarding-bar .pink {
    background: #ff61a7;
    margin-right: 0; }
    .onboarding-bar .pink:hover {
      background: #ff57a1; }

input[type="checkbox"] {
  position: absolute;
  display: none; }
  input[type="checkbox"] + label {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 0 0 0 34px;
    cursor: pointer;
    user-select: none; }
    input[type="checkbox"] + label:before {
      display: block;
      border: 1px solid #bdbdbd;
      border-radius: 4px;
      content: "";
      align-self: center;
      position: absolute;
      left: 0;
      width: 24px;
      height: 24px; }
  input[type="checkbox"]:checked + label:before {
    border: 1px solid #61a7ff;
    border-radius: 4px;
    background: url("chrome-extension://__MSG_@@extension_id__/img/icon/checkbox.svg") center center/14px no-repeat #61a7ff; }

.arrow {
  border-left: 1px solid #a9a9a9;
  border-top: 1px solid #a9a9a9;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  height: 4em;
  left: 20px;
  margin-top: -2em;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: rotate(-135deg);
  width: 4em; }

.call-out {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 0.33333em 0.83333em 0.33333em 0.83333em;
  width: 500px; }
  .call-out:before {
    content: '';
    position: absolute;
    top: calc(100% - 0.5em);
    left: 1em;
    height: 1em;
    width: 1em;
    background: #ffffff;
    transform: rotate(45deg);
    border-bottom: inherit;
    border-right: inherit;
    box-shadow: inherit; }

.logo-small {
  width: 3em;
  height: 3em;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/icon/logo-grey.svg");
  background-position: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/icon/logo-color.svg"); }

.toggle {
  background: none;
  cursor: pointer;
  margin: 0;
  min-height: 0.8em;
  outline: none;
  box-shadow: none;
  color: #bdbdbd;
  border: 1px none #bdbdbd;
  border-radius: 4px;
  display: flex;
  background: #ededed;
  padding: 0 !important;
  font-size: 0.92308em; }
  .toggle .left {
    padding: 0.33333em 0.83333em 0.33333em 0.83333em;
    color: inherit;
    min-width: 1.6em;
    min-height: inherit; }
  .toggle .right {
    padding: 0.33333em 0.83333em 0.33333em 0.83333em;
    color: inherit;
    min-width: 1.6em;
    min-height: inherit; }
  .toggle .on {
    border: 1px none #bdbdbd;
    border-radius: 4px;
    background: #61a7ff;
    background-clip: border-box;
    color: #ffffff; }
  .toggle .left.on {
    background: #bdbdbd; }
  .toggle:hover {
    background: inherit;
    box-shadow: none;
    background: #e8e8e8;
    box-shadow: none; }
    .toggle:hover .on {
      background: #b8b8b8;
      color: #ffffff; }
    .toggle:hover .right.on {
      background: #57a1ff; }

.onboarding-preview {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #ededed;
  height: auto; }
  .onboarding-preview .center {
    width: 660px; }
    .onboarding-preview .center .preview-image {
      width: 100%;
      height: auto;
      border: 0;
      border-radius: 8px; }

input[type="text"] {
  caret-color: #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  border-bottom-color: #bdbdbd;
  border-bottom-width: 1px;
  left: 0;
  list-style: none;
  margin: 0;
  padding-bottom: 0.4em;
  padding-top: 0.2em;
  position: relative;
  width: 600px; }
  input[type="text"]::placeholder {
    color: #bdbdbd; }
  input[type="text"]:focus {
    border-bottom: 1px solid #bdbdbd;
    border-bottom-color: #6d6d6d;
    color: #bdbdbd; }

.tags li {
  border: 1px none #bdbdbd;
  border-radius: 4px;
  display: flex;
  padding-right: 1em;
  float: left;
  height: 2em;
  line-height: 1.9em;
  position: relative;
  color: #bdbdbd;
  font-size: 1em;
  background-color: #ededed;
  margin-right: .5em;
  margin-bottom: .8em;
  overflow: hidden;
  position: relative; }
  .tags li::before {
    content: '';
    margin: auto 0.33333em auto 0.33333em;
    width: 1.33333em;
    height: 1.33333em;
    z-index: 0; }
  .tags li::before {
    opacity: 1;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    margin-right: 0.5em;
    margin-left: 0.5em;
    will-change: transform;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px; }
  .tags li:hover {
    background: none;
    cursor: pointer; }
    .tags li:hover::after {
      content: "";
      display: block;
      position: absolute;
      background-color: #61a7ff;
      border-color: transparent;
      border-radius: inherit;
      color: #ffffff;
      content: 'Remove';
      height: 100%;
      left: 0;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 1; }

.tags .tag-flash {
  background-color: #ffe1ee; }

.inverted li {
  background: #ffffff;
  padding-right: 0.5em; }
  .inverted li:hover::after {
    background-color: #ff61a7;
    content: 'Add'; }

.inverted .selected-tag {
  justify-content: baseline;
  align-items: center; }
  .inverted .selected-tag .checkmark {
    width: 14px;
    height: 14px;
    margin-left: 0.5em;
    border-radius: 10px;
    background: url("chrome-extension://__MSG_@@extension_id__/img/icon/checkbox.svg") center center/8px no-repeat #ff61a7; }
  .inverted .selected-tag:hover::after {
    content: 'Remove'; }

.header {
  min-height: 50px;
  border-bottom: 1px solid #bdbdbd;
  border-color: #ededed;
  justify-content: space-between;
  padding: 1em 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  align-items: center; }
  .header .back {
    margin-left: 2em; }

.vertical {
  display: flex;
  flex-direction: column; }

.horizontal {
  display: flex;
  flex-direction: row; }

.centered {
  justify-content: center; }

.spacing {
  margin-bottom: 4em !important; }

.spacing-small {
  margin-bottom: 1em !important; }

.stretch {
  align-items: initial; }

.full-width {
  width: 100%; }

.contents {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 660px;
  margin-left: auto;
  margin-right: auto;
  height: auto; }

.headspace {
  margin-top: 5em; }

textarea,
input {
  outline: none;
  border: 0; }

body, p {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400; }

body {
  width: 300px;
  height: 300px;
  background: #ffffff; }

.popup-container {
  position: absolute;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 300px;
  min-width: 300px;
  height: 300px; }
  .popup-container > div {
    align-items: baseline;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px; }
  .popup-container > div {
    margin: auto; }

#options, #dont-nudge, #reset-hide {
  color: #bdbdbd;
  margin-bottom: 1em; }
  #options:hover, #dont-nudge:hover, #reset-hide:hover {
    color: #ff61a7; }

#button-container {
  flex-direction: column;
  margin-top: 1em;
  align-items: center; }

.popup-button {
  border: 1px none #bdbdbd;
  border-radius: 4px;
  font-size: 16px;
  padding: 0.5em 1em 0.5em 1em;
  background: #bdbdbd;
  color: #ffffff;
  margin-bottom: none; }
  .popup-button:hover {
    background: #a4a4a4; }

.popup-snooze-button {
  background: #ff61a7; }
  .popup-snooze-button:hover {
    background: #ff2e8b; }

#dont-nudge {
  pointer: cursor; }

#time-headline {
  font-size: 18px;
  width: 4em;
  height: 4em;
  background-color: #61a7ff;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none; }

#logo {
  font-size: 18px;
  width: 4em;
  height: 4em;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/icon/logo-grey.svg");
  background-position: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("chrome-extension://__MSG_@@extension_id__/img/icon/logo-color.svg"); }

#domain-line {
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #7f7f7f; }

#extras-line {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex; }

#domain {
  margin-right: 0.25em;
  margin-left: 0.25em; }

#notice {
  height: 1em;
  margin-top: 0.5em; }

#refresh {
  color: #ff61a7; }

.hide {
  display: none !important; }
