@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("chrome-extension://__MSG_@@extension_id__/fonts/OpenSans.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215; }

@keyframes background-move {
  0% {
    background-position: 17% 0%; }
  50% {
    background-position: 84% 100%; }
  100% {
    background-position: 17% 0%; } }

body * {
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: normal; }

body a {
  cursor: pointer;
  text-decoration: none;
  color: initial; }
  body a:hover {
    color: #ff61a7; }

textarea,
input {
  outline: none;
  border: 0; }

body, p {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400; }

h1, h2, h3 {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

p {
  margin-bottom: 2em;
  line-height: 1.6em; }

h1 {
  font-size: 30px;
  margin-bottom: 0.5em;
  margin-top: 1.5em; }

h2 {
  font-size: 20px;
  margin-bottom: 0.5em;
  margin-top: 1.5em; }

h3 {
  font-size: 16px;
  font-family: 'Open Sans';
  font-weight: 700; }

* {
  font-size: 16px;
  color: #000000; }
  *::selection {
    background: #ff61a7;
    color: #ffffff; }

.tooltip {
  font-size: 12px;
  color: #bdbdbd; }
  .tooltip .highlight {
    font-size: inherit;
    color: #6d6d6d; }

.sublink {
  user-select: none;
  text-decoration: underline;
  font-size: 14px;
  color: #6d6d6d; }
  .sublink ::hover {
    color: #ff61a7; }
