/* Copyright 2016, Nudge, All rights reserved. */

@namespace xlink 'http://www.w3.org/1999/xlink';

/* Latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('chrome-extension://__MSG_@@extension_id__/resources/fonts/opensans.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

#nudge_uf div,
#nudge_uf span,
#nudge_uf h1,
#nudge_uf h2,
#nudge_uf h3,
#nudge_uf h4,
#nudge_uf h5,
#nudge_uf h6,
#nudge_uf p,
#nudge_uf a,
#nudge_uf em,
#nudge_uf img,
#nudge_uf strong,
#nudge_uf ol,
#nudge_uf ul,
#nudge_uf li {
    margin: 0;
    padding: 0;
    border: 0;
    top: initial;
    bottom: initial;
    left: initial;
    right: initial;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: initial;
    position: initial;
}

#nudge_uf #uf_container {
  position: fixed;
  bottom: 25px;
  background-color: #61a7ff;
  overflow: visible;
  display: inline-block;
  width: auto;
  left: 50%;
  transform: translateX(-50%) rotate(0) translateZ(0);
  margin-left: auto;
  margin-right: auto;  
  height: 27px;
  opacity: .6;
  z-index: 2147483646;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition: all 0.3s;
  border-radius: 40px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  animation: fadein 3s, colorchange 10s infinite;
  font-smoothing: antialiased;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.6; }
}

#nudge_uf #uf_container:hover {
  opacity: 0.9;
}

@keyframes colorchange
{
  0%   {background-color: #61a7ff;}
  50%  {background-color: #ff61a7;}
  100% {background-color: #61a7ff;}
}

#nudge_uf #uf_message {
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  color: #F0F8FF;
  width: auto;
  margin: 0;
  height: 100%;
  float: left;
  text-align: center;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition: all 0.3s;
}

#nudge_uf #uf_close {
  position: absolute;
  cursor: pointer;
  right: 7px;
  top: 6px;
  width: 15px;
  height: 15px;
  opacity: 0.6;
  background-color: #00FFFF;
  background: url('chrome-extension://__MSG_@@extension_id__/resources/images/closewhite.svg')  0/15px no-repeat;
}

#nudge_uf #uf_logo {
  position: absolute;
  left: 8px;
  top: 7px;
  width: 13px;
  height: 13px;
  background: url('chrome-extension://__MSG_@@extension_id__/resources/images/smalllogowhite.svg')  0/13px no-repeat;
  opacity: 0.6;
}

#nudge_uf #uf_logo:hover {
  position: absolute;
  left: 8px;
  top: 7px;
  width: 13px;
  height: 13px;
  background: url('chrome-extension://__MSG_@@extension_id__/resources/images/smalllogowhite.svg')  0/13px no-repeat;
  opacity: 1;
}

svg image[xlink|href*="temp"] {
    outline: 3px solid red;
}

#nudge_uf #uf_bottom {
  text-align: center;
  font-size: 12px;
  color: #7d7d7d;
  position: relative;
  top: 3px;
  height: 0;
  overflow: visible;
  background-color: #F0F8FF;
}

/*#nudge_uf:hover #uf_logo {
  opacity: 1;
  background: url('chrome-extension://__MSG_@@extension_id__/resources/images/logosmallcolour.svg')  0/13px no-repeat;  
}*/

#nudge_uf #uf_close:hover {
    background: url('chrome-extension://__MSG_@@extension_id__/resources/images/closehoverwhite.svg') no-repeat;
} 

#nudge_uf #uf_message_contents {
  margin: 1px 45px 0 45px;
  cursor: pointer;
}