/* Copyright 2016, Nudge, All rights reserved. */

/* Latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('chrome-extension://__MSG_@@extension_id__/resources/fonts/opensans.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('chrome-extension://__MSG_@@extension_id__/resources/fonts/opensans-semibold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('chrome-extension://__MSG_@@extension_id__/resources/fonts/opensans-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html { 
  background-size: cover;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff 30%, #eff6ff 100%);
}

body {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  margin: 0;
}

.container {
  top: 0;
  position: fixed;
  width: 100%;
  height: 60%;
  overflow: visible;
}

.logo {
  position: relative;
  top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  height: 5em;
  background: url('chrome-extension://__MSG_@@extension_id__/resources/images/logo.svg') 0em/5em no-repeat;
}

.t {
  text-align: center;
  user-select: none;
  cursor: default;
}

.h1 {
  position: relative;
  margin-top: 3em;
  font-size: 2.0em;
  font-weight: 600;
}

.h2 {
  position: relative;
  margin-top: 2em;
  font-size: 1.2em;
}

.h3 {
  font-size: 0.9em;
  color: #bdbdbd;
}

.h4 {
  font-size: 0.9em;
  color: #ff0097;
}

.bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 40px;
  background-color: #000000;
  cursor: pointer;  
}

.t1 {
  text-align: center;
  user-select: none;
  margin-top: 8px;
  font-size: 0.9em;
  color: #ffffff;
}

.bar:hover {
  background-color: #ff0097;
}

.container2 {
  bottom: 40px;
  position: fixed;
  width: 100%;
  height: 40%;
  overflow: visible;
  text-align: center;
}

.custom-slider {
  position: absolute;
  margin-bottom: 0;
  left: 0;
  right: 0;
  bottom: 20%;
  width: 60%;
  display: block;
  height: 7em;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;
}

.custom-slider-track {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-sizing: border-box;
  position: relative;
  border-radius: 5em;
  text-align: center;
}

.slider-text {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.4em;
}

@media only screen and (max-width: 700px) {
    .slider-text {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    .custom-slider {
      width: 80%;
    }
}

@media only screen and (max-height: 650px) {
    .h2 {
      display: none;
    }
}

@media only screen and (max-height: 530px) {
    .h1 {
      display: none;
    }
}

@media only screen and (max-height: 355px) {
    .logo {
      opacity: 0.2;
    }
}

.done {
  background: #000000;
}

.custom-slider-button {
  width: 5em;
  height: 5em;
  box-sizing: border-box;
  position: absolute; 
  top:0;
  left:0;
  border-radius: 5em;
  cursor: pointer;
}

.custom-slider-button-centre {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  height: 90%;
  width: 90%;
  background: #61a7ff;
  border-radius: 5em;  
}

.custom-slider-button-centre.active {
  background:  #ff0097;
 }

.custom-slider-button.returning {
  transition: all 0.5s;  
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
 }

.custom-slider-button { user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }