/* Copyright 2016, Nudge, All rights reserved. */

/* Latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('chrome-extension://__MSG_@@extension_id__/resources/fonts/opensans.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('chrome-extension://__MSG_@@extension_id__/resources/fonts/opensans-semibold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('chrome-extension://__MSG_@@extension_id__/resources/fonts/opensans-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html { 
  background-size: cover;
  height: 100%;
  background-color: #fafafa;
}

body {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: normal;
  margin: 0;
}

.container {
  left: 30%;
  right: 30%;
  top: 0;
  position: fixed;
  width: 40%;
  height: 100%;
  overflow: visible;
}

.logo {
  position: relative;
  top: 4em;
  margin-left: 1em;
  width: 10em;
  height: 10em;
  background: url('chrome-extension://__MSG_@@extension_id__/resources/images/logogrey.svg') 0em/10em no-repeat;
}

.t {
  text-align: left;
  user-select: none;
  cursor: default;
  position: relative;
  margin-top: 5em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 1em;
}

.h2 {
  margin-top: 2em;
  color: #bdbdbd;
}

.subtitle {
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0;
  line-height: 1.2em;
  padding-bottom: 0.5em;
}

.para {
  margin: 0;
  font-size: 0.8em;
  line-height: 1.8em;
}

.h3 {
  font-size: 0.8em;
  color: #bdbdbd;
  text-align: center;
}

.h4 {
  font-size: 0.8em;  
  color: #61a7ff;
  text-align: center;
}

.bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 40px;
  background-color: #000000;
  cursor: pointer;  
}

.t1 {
  text-align: center;
  user-select: none;
  margin-top: 8px;
  font-size: 0.9em;
  color: #ffffff;
}

.bar:hover {
  background-color: #61a7ff;
  opacity: 1;
}

.custom-slider {
  position: absolute;
  margin-bottom: 0;
  left: 0;
  right: 0;
  bottom: 20%;
  width: 100%;
  display: block;
  height: 5em;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
}

.custom-slider-track {
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-sizing: border-box;
  position: relative;
  border-radius: 6em;
  text-align: center;
}

.slider-text {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.4em;
}

@media only screen and (max-width: 800px) {
    .slider-text {
        display: none;
    }
}

@media only screen and (max-height: 680px) {
    .t {
      display: none;
    }
}

@media only screen and (max-height: 530px) {
    .h1 {
      display: none;
    }
}

@media only screen and (max-height: 500px) {
    .h2 {
      display: none;
    }
}

@media only screen and (max-height: 355px) {
    .logo {
      display: none;
    }
}

.done {
  background: #000000;
}

.custom-slider-button {
  width: 3em;
  height: 3em;
  box-sizing: border-box;
  position: absolute; 
  top:0;
  left:0;
  border-radius: 4em;
  cursor: pointer;
}

.custom-slider-button-centre {
  position: relative;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  height: 90%;
  width: 90%;
  background: #CFCDCD;
  border-radius: 4em;
}

.custom-slider-button-centre.active {
  background:  #61a7ff;
 }

.custom-slider-button.returning {
  transition: all 0.5s;  
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
 }

.custom-slider-button { user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }